.search_result_container
  .ui.inverted.dimmer
    .ui.loader
  %h2= t("search_results.section_titles.collections", count: @collections.total)
  = paginate @collections.results, remote: true, params: { only: "collections" }
  %table.collections
    %tbody
      - @collections.results.each do |collection|
        %tr
          %td.collection-table-image
            -# TODO: collections don't have icons yet; change this.
            = link_to(image_tag("medium/collection.png"), collection)
          %td
            .names
              = link_to(emphasize_match(collection.name.titleize, @q), collection, class: "primary-name")
            .fields
              - if collection.description =~ /#{@q}/
                - unless @q.blank?
                  %b= t("search_results.field_matches.description")
                = emphasize_match(collection.description, @q)
  = paginate @collections.results, remote: true, params: { only: "collections" }
