.search_result_container
  .ui.inverted.dimmer
    .ui.loader
  %h2= t("search_results.section_titles.collections", count: @collections.total_count)
  = paginate @collections, remote: true, params: { only: "collections" }
  %ul.uk-list
    - @collections.results.each do |collection|
      %li.uk-card.uk-card-hover.eol-bright.uk-box-shadow-small
        .uk-card-body.uk-grid-small{ uk: { grid: true } }
          .eol-width-medium-icon
            -# TODO: collections don't have icons yet; change this.
            = link_to(image_tag("medium/collection.png"), collection)
          .uk-width-expand
            .names
              - name = collection.try(:search_highlights).try(:[], :name) || emphasize_match(collection.name.titleize, @q)
              = link_to(name.titleize.html_safe, collection, class: "primary-name")
            .fields
              - desc = collection.try(:search_highlights).try(:[], :description) || emphasize_match(collection.description, @q)
              - unless @q.blank?
                %b= t("search_results.field_matches.description")
              = desc.html_safe
  = paginate @collections, remote: true, params: { only: "collections" }
