%h2= t("search_results.section_titles.collections", count: @collections.total)
= paginate @collections.results, remote: true, params: { only: "collections" }
%table.collections
  %tbody
    - @collections.results.each do |collection|
      %tr
        %td.collection-table-image
          -# TODO: collections don't have icons yet; change this.
          = link_to(image_tag("medium/collection.png"), collection)
        %td
          .names
            = link_to(emphasize_match(collection.name.titleize, @q), collection, class: "primary-name")
          .names
            - if collection.description =~ /#{@q}/
              %br/
              %b= t("search_results.field_matches.description")
              = emphasize_match(collection.description, @q)
= paginate @collections.results, remote: true, params: { only: "collections" }
