= form_for(@collection) do |f|
  .jumbotron
    .row
      .col-md-9
        .field
          = label_tag(:name)
          = f.text_field :name
        .field
          = label_tag(:description)
          %br/
          = f.text_area(:description, cols: "80", rows: "6")
      - if policy(@collection).update?
        %p.col-md-3.actions
          = f.submit(class: "btn btn-default")
          %br/
          %button.btn.btn-default
            = link_to(t(:cancel), collection_path(@collection))

  - if @collection.collection_items.empty?
    %p= t(:collection_items_empty)
  - else
    %h2= t(:collection_items_pages_title)
    = fields_for(:collection_items) do |item_f|
      %table.collection_items.table.table-hover.table-bordered
        %tbody
          - @collection.pages.each do |page|
            %tr
              %th.collection-table-image{ scope: "row" }
                = link_to(image_tag(page.collect_with_icon), page)
              %th{ scope: "row" }
                .names.d-inline
                  - common = page.name.titleize.html_safe
                  - scientific = page.scientific_name.html_safe
                  - if common.blank?
                    = link_to(scientific, page, class: "primary-name")
                  - else
                    = link_to(common, page, class: "primary-name")
                    %br/
                    = link_to(scientific, page, class: "secondary-name")
                  %br/
                  -# - group_num = 0
                  %row.icons_12_wide
                    - page.images[0..29].each do |image|
                      .col-md-1
                        = item_f.radio_button(:exemplar_id, image.id, selected: image == page.top_image)
                        = image_tag(image.small_icon_url, class: "img-responsive")
                  -# - page.images[1..-1].each_slice(10).each do |group|
                  -#   - group_num += 1
                  -#   - break if group_num >= 4
                  -#   %row.icons_12_wide
                  -#     - group.each do |image|
                  -#       .col-md-1
                  -#         = item_f.radio_button(:exemplar_id, image.id)
                  -#         = image_tag(image.small_icon_url, class: "img-responsive")
