= form_for(@collection) do |f|
  .jumbotron
    .row
      .col-md-9
        .field
          = label_tag(:name)
          = f.text_field :name
        .field
          = label_tag(:description)
          %br/
          = f.text_area(:description, cols: "80", rows: "6")
      - if policy(@collection).update?
        %p.col-md-3.actions
          = f.submit(class: "btn btn-default")
          %br/
          %button.btn.btn-default
            = link_to(t(:cancel), collection_path(@collection))

  - if @collection.collected_pages.empty?
    %p= t(:collection_pages_empty)
  - else
    %h2= t(:collected_pages_title)
    %table.collections
      %tbody
        - @collection.collected_pages.each do |collected_page|
          - page = collected_page.page
          %tr
            %th.collection-table-image{ scope: "row" }
              = link_to(image_tag(collected_page.icon), page)
            %th{ scope: "row" }
              .names.d-inline
                - common = collected_page.name.titleize.html_safe
                - scientific = collected_page.scientific_name_string.html_safe
                - if common.blank?
                  = link_to(scientific, page, class: "primary-name")
                - else
                  = link_to(common, page, class: "primary-name")
                  %br/
                  = link_to(scientific, page, class: "secondary-name")
                %br/
                = t(:collection_collected_pages_media_remove)
                %br/
                -# - group_num = 0
                
                = f.fields_for(:collected_pages, collected_page) do |cp_f|
                  %row.icons_12_wide
                    = cp_f.hidden_field(:id, id: collected_page.id)
                    - collected_page.media.each do |medium|
                      .col-md-1
                        = cp_f.fields_for(:collected_pages_media, medium) do |cp_f|
                          = cp_f.check_box :_destroy
                          = image_tag(medium.small_icon_url, class: "img-responsive", size: "88x88")
                  = label_tag(:annotation)
                  %br/
                  = cp_f.text_area(:annotation, cols: "80", rows: "6")
  - if @collection.collection_associations.empty?
    %p= t(:collection_associations_empty)
  - else
    /# TODO
    Ooops, this is not implemented
