.uk-section-default.uk-padding.uk-box-shadow-medium
  .uk-header.uk-grid-medium{ uk: { grid: true } }
    .uk-width-4-5
      %h1= @collection.name
      - unless @collection.description.blank?
        .uk-text-muted= @collection.description.html_safe
      - if is_admin?
        .uk-text= link_to("show logs", collection_logs_path(@collection))
    - if policy(@collection).update?
      .actions.uk-width-1-5
        = link_to(t("collection.actions.edit"), edit_collection_path(@collection), class: "ui button uk-margin-small")
        = link_to(t("collection.actions.delete"), collection_path(@collection), method: "delete", data: { confirm: t("collection.delete_confirm") }, class: "ui basic button uk-margin-small")
        = link_to(t("collection.actions.associate"), new_collection_association_path(associated_id: @collection.id), class: "ui basic button uk-margin-small")
        %button#sort_button.ui.labeled.small.icon.basic.button.uk-margin-small-top
          %i.down.arrow.icon
          = t("term.actions.sort")
        %div{ uk: { dropdown: true } }
          %ul.uk-dropdown-nav.uk-nav
            - params_dup = params_less(:sort, :sort_dir)
            - Collection.default_sorts.each do |name, num|
              %li{ class: params[:sort].to_i == num ? "uk-active" : nil }= link_to(t("collection.sort.#{name}"), collection_path(params_dup.merge(sort: num)))
.collected_pages.uk-margin-top
  - if @pages.empty?
    %p= t(:collection_pages_empty)
  - else
    %h2= t(:collected_pages_title)
    %div.uk-margin-top
      #collected_pages
        = render("show")
.collection_association.uk-margin-top
  - show_delete = policy(@collection).update?
  - if @collection.collection_associations.empty?
    %p= t(:collection_associations_empty)
  - else
    %h2= t(:collection_associations_title)
    %table.collections.uk-table.uk-table-middle.uk-table-divider
      %tbody
        - @collection.collection_associations.each do |assoc_collection|
          - collection = assoc_collection.associated
          %tr
            %th.collection-table-image{ scope: "row" }
              -# TODO: collections don't have icons yet; change this.
              -# = link_to(image_tag(collection.icon || "medium/collection.png"), collection)
              = link_to(image_tag("medium/collection.png"), collection)
            %td.uk-table-expand.uk-text-align-left
              .names.d-inline
                = link_to(collection.name.html_safe, collection)
                %br
                = collection.description
                = t("collection.pages_count", count: collection.collected_pages_count)
            %td.uk-table-shrink
              - if show_delete
                .uk-float-right.uk-margin
                  = link_to(t("collected_pages.delete_button"), assoc_collection, method: "delete", data: { confirm: t("collected_pages.delete_confirm") }, class: "ui basic tiny button")
