.uk-section-default.uk-padding.uk-box-shadow-medium
  .uk-header.uk-grid-medium{ uk: { grid: true } }
    .uk-width-4-5
      %h1= @collection.name
      - unless @collection.description.blank?
        .uk-text-muted= @collection.description.html_safe
    - if policy(@collection).update?
      .actions.uk-width-1-5
        = link_to(t("collection.actions.edit"), edit_collection_path(@collection), class: "ui button")
        = link_to(t("collection.actions.delete"), collection_path(@collection), method: "delete", data: { confirm: t("collection.delete_confirm") }, class: "ui basic button")
        %button#sort_button.ui.labeled.small.icon.basic.button.uk-margin-small-top
          %i.down.arrow.icon
          = t("term.actions.sort")
        %div{ uk: { dropdown: true } }
          %ul.uk-dropdown-nav.uk-nav
            - params_dup = params_less(:sort, :sort_dir)
            %li= link_to(t("collection.actions.sort.date_added"), collection_path(params_dup))
            %li= link_to(t("collection.actions.sort.name"), collection_path(params_dup.merge(sort: "name")))
            %li= link_to(t("collection.actions.sort.name_rev"), collection_path(params_dup.merge(sort: "name", sort_dir: "desc")))
            %li= link_to(t("collection.actions.sort.sort_field"), collection_path(params_dup.merge(sort: "sort")))
            %li= link_to(t("collection.actions.sort.sort_field_rev"), collection_path(params_dup.merge(sort: "sort", sort_dir: "desc")))
            %li= link_to(t("collection.actions.sort.hierarchy"), collection_path(params_dup.merge(sort: "hierarchy")))
.collected_pages.uk-margin-top
  - if @pages.empty?
    %p= t(:collection_pages_empty)
  - else
    %h2= t(:collected_pages_title)
    = render "collected_pages_search"
    %div.uk-margin-top
      #collected_pages
        -# TODO: pagination
        - if @collection.gallery?
          = render("collected_pages/gallery", collected_pages: @pages)
        - else
          = render("collected_pages/index", collected_pages: @pages)
.collection_association.uk-margin-top
  - if @collection.collections.empty?
    %p= t(:collection_associations_empty)
  - else
    %h2= t(:collection_associations_title)
    %table.collections
      %tbody
        - @collection.collections.each do |collection|
          %tr
            %th.collection-table-image{ scope: "row" }
              = link_to(image_tag(collection.icon), collection)
            %th{ scope: "row" }
              .names.d-inline
                = link_to(collection.name.html_safe, collection)
