.uk-section-default.uk-padding.uk-box-shadow-medium
  .uk-header.uk-grid-medium{ uk: { grid: true } }
    .uk-width-4-5
      %h1= @collection.name
      - unless @collection.description.blank?
        .uk-text-muted= @collection.description.html_safe
    - if policy(@collection).update?
      .actions.uk-width-1-5
        = link_to(t("collection.edit_button"), edit_collection_path(@collection), class: "ui button")
        = link_to(t("collection.delete_button"), collection_path(@collection), method: "delete", data: { confirm: t("collection.delete_confirm") }, class: "ui basic button")
.collected_pages.uk-margin-top
  - if @collection.collected_pages.empty?
    %p= t(:collection_pages_empty)
  - else
    %h2= t(:collected_pages_title)
    = render "collected_pages_search"
    %div.uk-margin-top
      #collected_pages
        -# TODO: pagination
        - if @collection.gallery?
          = render("collected_pages/gallery", collected_pages: @collection.collected_pages)
        - else
          = render("collected_pages/index", collected_pages: @collection.collected_pages)
.collection_association.uk-margin-top
  - if @collection.collections.empty?
    %p= t(:collection_associations_empty)
  - else
    %h2= t(:collection_associations_title)
    %table.collections
      %tbody
        - @collection.collections.each do |collection|
          %tr
            %th.collection-table-image{ scope: "row" }
              = link_to(image_tag(collection.icon), collection)
            %th{ scope: "row" }
              .names.d-inline
                = link_to(collection.name.html_safe, collection)
