.jumbotron
  .row
    .col-md-9
      %h1= @collection.name
      - unless @collection.description.blank?
        %p= @collection.description
    - if policy(@collection).update?
      %p.col-md-3.actions
        %button.btn.btn-default
          = link_to(t(:collection_edit_button), edit_collection_path(@collection))
- if @collection.collection_items.empty?
  %p= t(:collection_items_empty)
- else
  %h2= t(:collection_items_pages_title)
  %table.collection_items.table.table-hover.table-bordered
    %tbody
      - @collection.pages.each do |page|
        %tr
          %th.collection-table-image{ scope: "row" }
            = link_to(image_tag(page.collect_with_icon), page)
          %th{ scope: "row" }
            .names.d-inline
              - common = page.name.titleize.html_safe
              - scientific = page.scientific_name.html_safe
              - if common.blank?
                = link_to(scientific, page, class: "primary-name")
              - else
                = link_to(common, page, class: "primary-name")
                %br/
                = link_to(scientific, page, class: "secondary-name")
