.jumbotron
  .row
    .col-md-9
      %h1= @collection.name
      - unless @collection.description.blank?
        %p= @collection.description.html_safe
    - if policy(@collection).update?
      %p.col-md-3.actions
        %button.btn.btn-default
          = link_to(t(:collection_edit_button), edit_collection_path(@collection))
- if @collection.collected_pages.empty?
  %p= t(:collection_pages_empty)
- else
  %h2= t(:collected_pages_title)
  %div
    - if @collection.normal?
      = render("normal", collection: @collection)
    - else
      = render("gallery", collection: @collection)
%div.collection_association
  - if @collection.collections.empty?
    %p= t(:collection_associations_empty)
  - else
    %h2= t(:collection_associations_title)
    %table.collections
      %tbody
        - @collection.collections.each do |collection|
          %tr
            %th.collection-table-image{ scope: "row" }
              = link_to(image_tag(collection.icon), collection)
            %th{ scope: "row" }
              .names.d-inline
                = link_to(collection.name.html_safe, collection)
