= javascript_include_tag 'users/signup'

%div{'ng-app': 'signupApp'} 
  %h2 
    = I18n.t(:complete_registration)
  = form_for @user, url: open_authentications_path,
    html: { name: 'oauthConfirmationForm',
            'novalidate': 'novalidate'.html_safe } do |f|
    = resource_error_messages(@user)
    .field
      = f.label I18n.t(:email)
      %br/
      = f.email_field :email,
                      'ng-model': 'email',
                      'ng-pattern': $mail_regex,
                      required: true
      %span{class: 'ng-validation-error',
            'ng-show': "oauthConfirmationForm['user[email]'].$error.required && oauthConfirmationForm['user[email]'].$touched".html_safe}
        = I18n.t("users.validations.empty_email_error")
      %span{class: 'ng-validation-error',
            'ng-show': "oauthConfirmationForm['user[email]'].$error.pattern".html_safe}
        = I18n.t("users.validations.invalid_email")
    .actions
      = f.submit I18n.t(:create_account), 'ng-disabled': 'oauthConfirmationForm.$invalid'
      = link_to I18n.t(:cancel), :back
