.container
  .well
    %div
      %h2
        = I18n.t(:complete_registration)
      = simple_form_for @user, url: open_authentications_path,
        html: { class: "eol-userform recaptchad uk-form-stacked" },
        defaults: { input_html: { class: 'uk-input' },
        wrapper_html: { class: 'field' },
        label_html: { class: 'uk-form-label' } } do |f|
        = resource_error_messages(@user)
        = f.input :email
        .actions
          = f.button :submit, class: "uk-button uk-button-default eol-secondary-alt"
          = link_to I18n.t(:cancel), :back
