%h2 
  = I18n.t(:complete_registration)
= form_for(@user, url: open_authentications_path) do |f|
  = resource_error_messages(@user)
  .field
    = f.label I18n.t(:email)
    %br/
    = f.email_field :email
  .actions
    = f.submit I18n.t(:create_account)
    = link_to I18n.t(:cancel), :back
