%h2= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions')
= user_form(resource: resource, url: confirmation_path(resource_name), method: :post) do |f|
  = f.input :email, required: true, validate: { presence: true }

  .actions
    = f.button :submit, t(".resend_confirmation_instructions"), class: "ui button"

= render "devise/shared/links"
