- if context == "username"
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[username]'].$error.required && (signupForm['user[username]'].$touched || showErrors)".html_safe}
    = I18n.t("users.validations.empty_username_error")
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[username]'].$touched && signupForm['user[username]'].$error.minlength".html_safe}
    = I18n.t("users.validations.short_username_error")
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[username]'].$touched && signupForm['user[username]'].$error.maxlength".html_safe}
    = I18n.t("users.validations.long_username_error")
- elsif context == "email"
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[email]'].$error.required && (signupForm['user[email]'].$touched || showErrors)".html_safe}
    = I18n.t("users.validations.empty_email_error")
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[username]'].$touched && signupForm['user[email]'].$error.pattern".html_safe}
    = I18n.t("users.validations.invalid_email")
- elsif context == "password"
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[password]'].$error.required && (signupForm['user[password]'].$touched || showErrors)".html_safe}
    = I18n.t("users.validations.empty_password_error")
  %span{class: 'ng-validation-error',
        'ng-show': "violatePwdLowerLimit && signupForm['user[password]'].$touched".html_safe}
    = I18n.t("users.validations.short_password_error")
  %span{class: 'ng-validation-error',
        'ng-show': "violatePwdUpperLimit && signupForm['user[password]'].$touched".html_safe}
    = I18n.t("users.validations.long_password_error")
  %span{class: 'ng-validation-error',
        'ng-show': "ViolatepwdLetterCond && signupForm['user[password]'].$touched".html_safe}
    = I18n.t("users.validations.password_must_have_letter_error")
  %span{class: 'ng-validation-error',
        'ng-show': "ViolatepwdNumberCond && signupForm['user[password]'].$touched".html_safe}
        = I18n.t("users.validations.password_must_have_number_error")
- elsif context == "confirmation"
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[password_confirmation]'].$error.required && (signupForm['user[password_confirmation]'].$touched || showErrors)".html_safe}
    = I18n.t("users.validations.empty_password_confirmation_error")
  %span{class: 'ng-validation-error',
        'ng-show': "signupForm['user[password_confirmation]'].$touched && signupForm['user[password_confirmation]'].$error.pwmismatch && !signupForm['user[password_confirmation]'].$error.required".html_safe}
    = I18n.t("users.validations.password_confirmation_mismatch") 
- else # recaptcha
  %span{class: 'ng-validation-error', 'ng-show': 'recaptchaError'.html_safe}
          = "#{I18n.t('recaptcha_error')}"
