%h2 
  = I18n.t(:sign_up)
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label I18n.t(:username)
    %br/
    = f.text_field :username, autofocus: true
  .field
    = f.label I18n.t(:email)
    %br/
    = f.email_field :email
  .field
    = f.label I18n.t(:password)
    - if @minimum_password_length
      %em
        =I18n.t(:min_length, length: @minimum_password_length)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label I18n.t(:password_confirmation)
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label I18n.t(:recaptcha)
    = recaptcha_tags 
  .actions
    = f.submit I18n.t(:create_account)
= render "devise/shared/links"
