%div
  %h2 
    = I18n.t(:sign_up)
  - username = ""
  - email = ""
  - if session["devise.data"].blank?
    - open = false 
  - else
    - open = true
    - username = session['devise.data']['info']['name']
    - email = session['devise.data']['info'].try(: [], 'email')
  = form_for resource, url: registration_path(resource_name), 
    html: { name: 'signupForm', 
            'novalidate': 'novalidate',
             class: "recaptchad",
            'ng-controller': "signupValidate as ctrl",
            'ng-submit': 'validateForm($event, signupForm)'.html_safe } do |f|
    = devise_error_messages!
    
    %div{id: "session", 'data-username': "#{username}", 'data-email': "#{email}"}         
    .field
      = f.label I18n.t(:username)
      %br/
      = f.text_field :username, autofocus: true, 
                      'ng-model': 'username', 
                      'ng-minlength': User::USERNAME_MIN_LENGTH,
                      'ng-maxlength': User::USERNAME_MAX_LENGTH,
                       required: true,
                       value: resource.username,
                       readonly: open
      = render "errors", context: "username"
    .field
      = f.label I18n.t(:email)
      %br/
      = f.email_field :email, 
                      'ng-model': 'email',
                      'ng-pattern': $mail_regexp,
                      required: true
      = render "errors", context: "email"
    - if !open
      .field
        = f.label I18n.t(:password)
        %br/
        = f.password_field :password, autocomplete: "off",
                            id: "password",
                           'ng-model': 'password',
                           'validate-password': '',
                           required: true,
                           'autofill': ''
        = render "errors", context: "password"
      .field
        = f.label I18n.t(:password_confirmation)
        %br/
        = f.password_field :password_confirmation, autocomplete: "off",
                           'ng-model': 'password_confirmation',
                           'password-match': "password",
                           'ng-required': true
        = render "errors", context: "confirmation"
      .field
        = f.label I18n.t(:recaptcha)
        = recaptcha_tags(theme: 'clean', callback: 'recaptchaCallback')
        %br
        = render "errors", context: "recaptcha"
    .actions
      = f.submit I18n.t(:create_account), 'ng-disabled': 'signupForm.$invalid || !recaptchaChecked', class: "btn btn-default"
  = render "devise/shared/links"
