%div
  %h2= I18n.t(:sign_up)
  = user_form(resource: resource, url: registration_path(resource_name), recaptchad: true) do |f| 
    = f.input :username, required: true, validate: { presence: true }
    = f.input :email, required: true, validate: { presence: true }
    = f.input :password, required: true, validate: { presence: true }
    = f.input :password_confirmation, required: true, validate: { presence: true }

    .field
      = f.label I18n.t(:recaptcha)
      = recaptcha_tags(theme: 'clean', callback: 'recaptchaCallback')
      - if flash.any? { |name, msg| name == "recaptcha_error" }
        %span.error
          = I18n.t('recaptcha_error')
    .actions
      = f.button :submit, class: "ui button"
  = render "devise/shared/links"
