%div
  %h2
    = I18n.t(:sign_up)
  = simple_form_for(resource, url: registration_path(resource_name),
    html: { class: "eol-userform recaptchad uk-form-stacked" },
    defaults: { input_html: { class: 'uk-input' },
    wrapper_html: { class: 'field' },
    label_html: { class: 'uk-form-label' } }) do |f|
    = f.input :username
    = f.input :email
    = f.input :password, html: { autocomplete: 'off' }
    = f.input :password_confirmation

    .field
      = f.label I18n.t(:recaptcha)
      = recaptcha_tags(theme: 'clean', callback: 'recaptchaCallback')
      - if flash.any? { |name, msg| name == "recaptcha_error" }
        %span.error
          = I18n.t('recaptcha_error')
    .actions
      -# = f.button I18n.t(:create_account), class: "btn btn-default"
      = f.button :submit, class: "uk-button uk-button-default eol-secondary-alt"
  = render "devise/shared/links"
