= paginate @nodes
%table.uk-table.uk-table-small.uk-table-striped.uk-table-divider
  %thead
    %tr
      %th Name
      %th Children
      %th Media (from resource)
      %th Traits
  %tbody
    - @nodes.each do |node|
      %tr
        %td
          = link_to_page_by_name(node.page)
        %td= number_with_delimiter(node.children_count)
        %td
          - if node.page
            = number_with_delimiter(node.page.page_contents.where(resource_id: @resource.id).count)
          - else
            No associated page!
        %td= number_with_delimiter(TraitBank.count_by_resource_and_page(@resource.id, node.page_id))
= paginate @nodes
