- results.each do |result|
  %li.search-result{ :data => { :type => result.type} }
    = link_to result do
      .search-result-icon>
        -if result.icon
          = image_tag(result.icon, :class => "image")
        -else
          %i{:class => "fa fa-3x fa-#{result.fa_icon}"}
      .search-result-details>
        .search-result-title= result.title.html_safe
        .search-result-content= result.content.html_safe
        .search-result-misc= result.misc_info.html_safe
