%h1.text-center
  - if @q.blank?
    = t("search.everything_header")
  - else
    = t("search.header", q: @q)
- if @empty
  %h2= t("search.empty", q: @q)
- else
.uk-grid
  .uk-width-1-5
    .uk-sticky.uk-sticky-fixed.uk-active{ uk: { sticky: "offset: 100" } }
      %h4.uk-heading-divider= t("search_results.header")
      %ul.uk-nav.uk-nav-default.tm-nav{ uk: { scrollspy: { nav: "closest: li; scroll: true; offset: 80" } } }
        - if defined?(@predicates) && ! @predicates.blank?
          %li= link_to(t("search_results.section_titles.predicates", count: @predicates_count), "#search_predicates")
        - if defined?(@object_terms) && ! @object_terms.blank?
          %li= link_to(t("search_results.section_titles.object_terms", count: @object_terms_count), "#search_object_terms")
        - if defined?(@pages) && ! @pages.empty?
          %li= link_to(t("search_results.section_titles.pages", count: @pages.total_count), "#search_pages")
        -# TEST TEST TEST TEST TEST TODO fix these
        -# - if defined?(@collections) && @collections && ! @collections.results.empty?
        -#   %li= link_to(t("search_results.section_titles.collections", count: @collections.total), "#search_collections")
        - if defined?(@media) && ! @media.empty?
          %li= link_to(t("search_results.section_titles.media", count: @media.total_count), "#search_media")
        -# - if defined?(@users) && @users && ! @users.results.empty?
        -#   %li= link_to(t("search_results.section_titles.users", count: @users.total), "#search_users")
      .clade_filter.uk-margin-top
        = form_tag(search_path, method: "get", autocomplete: "off") do
          - hide_params_in_form(["clade"])
          - if @clade
            .uk-margin-right
              - show_data_page_icon(@clade)
          %div
            = t("term.show.clade_filter.label")
          %div
            = text_field_tag("clade", nil,
              placeholder: @clade ? @clade.name : t(:clade_placeholder),
              remote: true, class: "uk-input uk-form-width-medium typeahead")
          %div
            = submit_tag(t("filter"), class: "ui basic button")
        - if @clade
          .uk-panel.uk-margin-small-top
            - mod_params = params_less(:clade)
            = link_to(t("term.show.clade_filter.clear"), term_path(mod_params))

  #search_results.uk-width-4-5
    - if defined?(@predicates) && ! @predicates.blank?
      #search_predicates
        = render("terms/search_results", terms: @predicates, size: @predicates_count)
    - if defined?(@object_terms) && ! @object_terms.blank?
      #search_object_terms
        = render("terms/search_results", terms: @object_terms, object: true, size: @object_terms_count)
    - if defined?(@pages) && @pages
      #search_pages
        = render("pages/search_results")
    -# TEST TEST TEST TEST  TEST TEST TEST TODO fix this
    -# - if defined?(@collections) && @collections && ! @collections.results.empty?
    -#   #search_collections
    -#     = render("collections/search_results")
    - if defined?(@media) && ! @media.empty?
      #search_media
        = render("media/search_results")
    -# - if defined?(@users) && @users && ! @users.results.empty?
    -#   #search_users
    -#     = render("users/search_results")
