#page.container.articles
  #page_control
    .uk-section.uk-section-default.uk-grid-small.uk-padding-small.uk-box-shadow-article{ uk: { grid: true } }
      .uk-width-3-4
        %label= t("article.header.title")
        %h1#article_title.uk-margin-remove-top
          - if @article.name.blank?
            = t("article.header.untitled")
          - else
            = @article.name.html_safe
        %label= t("article.header.language", language: t("languages.#{@article.language.group}"))
      .uk-width-1-4.actions
        - basic_button("plus", t("article.actions.collect"), new_collected_page_path(page_id: @article.associations.first, article_ids: [@article.id]))
    .articles-body.uk-margin-large-top
      %div{ uk: { grid: true } }
        .articles-image.uk-width-2-3
          %h3= t("article.header.body")
          - if @article.body.blank?
            %p.body-blank= t("article.header.blank")
          - else
            %p= @article.body.html_safe
        .attribution.uk-width-1-3
          %h3= t(:content_appears_on)
          %ul.appears_on
            - @article.page_contents.map(&:page).compact.sort_by(&:scientific_name).each do |page|
              %li= link_to(page.scientific_name.html_safe, page)

      %h3= t(:content_attributions_header)
      = render("attributions/for_content", content: @article)
