- uri_name = "#{field_name}_uri".to_sym
- label_name = "#{field_name}_name".to_sym
- classes = [ff.object.errors[uri_name].any? ? "is-filter-row-with-errors" : nil, local_assigns.has_key?(:extra_class) ? extra_class : nil].compact
.filter-row{:class => classes}
  .filter-row-group.js-filter-row-group
    %span.js-typeahead-wrap.filter-field
      = text_field_tag label_name, local_assigns.has_key?(:val_name) ? val_name : term_name(ff.object.send(uri_name)), :class => "uk-input js-#{typeahead_class}-typeahead js-term-name", :placeholder => placeholder, :data => local_assigns.has_key?(:typeahead_data) ? typeahead_data : nil
      = ff.hidden_field uri_name, :class => "js-typeahead-field js-term-uri"
      - show_error(ff.object, uri_name)
      - if field_name == "pred"
        = ff.hidden_field "top_#{uri_name}", :class => "js-typeahead-field"
        .js-term-select-contain.term-select-contain
          = nested_term_selects(ff, :pred)
