- object = false unless defined?(object)
- id = object ? "object_terms" : "predicates"
- div_id = "search_#{id}"
- size = 50 unless defined?(size)
.search_result_container
  .ui.inverted.dimmer
    .ui.loader
  %h2{ id: div_id }= t("search_results.section_titles.#{id}", count: size)
  - if terms.nil? || terms.empty?
    %p= t("search_results.empty")
  - else
    = paginate terms, remote: true, params: { only: id }
    %ul.found_terms.uk-list
      - terms.each do |term|
        %li.uk-card.uk-card-hover.eol-bright.uk-box-shadow-small
          .uk-card-body
            .names
              .uk-text-large= link_to(emphasize_match(term["name"], @q), term_records_path(uri: term["uri"], object: object))
              .uk-text-muted= link_to(term["uri"], term_records_path(uri: term["uri"], object: object))
            - if term["definition"]
              .uk-margin-small-top= term["definition"]
    = paginate terms, remote: true, params: { only: id }
