.l-terms
  .ui.dimmer.js-term-form-dimmer
    .ui.loader
  .js-filter-form-contain{:class => @pages ? "is-hidden" : ""}
    = render "search_form"

  - if @pages
    .js-filter-list
      - hdr_opts = { range_begin: @grouped_data.offset_value + 1, range_end: @grouped_data.offset_value + @grouped_data.length, total: @grouped_data.total_count }
      -if @query.record?
        - hdr_opts[:page_count] = @counts.pages
      - filter_hdr_val_key = ".result_header_#{@query.record? ? 'records' : 'taxa'}"
      %h2.filter-hdr= t(filter_hdr_val_key, hdr_opts)
      %ul.show-filters
        - if @query.clade
          %li.show-filter.show-filter-clade= t(".clade", clade: @query.clade.native_node&.canonical_form)
        - @query.filters.each do |f|
          %li.show-filter= filter_display_string(f).html_safe
      %ul.edit-filters-row
        %li.js-edit-filters
          %i{:'uk-icon' => "icon: pencil"}
          %span= t(".edit_filters")
        %li.js-download-tsv{:'data-url' => term_search_results_path(:format => :csv)}
          %i{:'uk-icon' => "icon: download"}
          %span= t(".download_tsv")
        - if @gbif_url
          %li{:'uk-tooltip' => t(".gbif_search_hover")}
            %i{:'uk-icon' => "icon: link"}
            %a{href: @gbif_url}= t(".gbif_search")
        %li
          = link_to term_search_path do
            %i{:'uk-icon' => "icon: search"}
            %span= t(".new_search")
        - if @query.taxa?
          %li
            - if @view_type == "gallery"
              %i{:'uk-icon' => "icon: list"}
              = link_to t(".switch_to_list"), term_search_results_path(term_query: @query.to_params, view: "list")
            - else
              %i{:'uk-icon' => "icon: grid"}
              = link_to t(".switch_to_gallery"), term_search_results_path(term_query: @query.to_params, view: "gallery")
    - if @data_viz_type.present? 
      = render "shared/data_viz_contain", type: @data_viz_type, query: @query
      
    - if @query.record?
      = render 'data_table', { data: @grouped_data, pages: @pages, data_viz: @data_viz }
    - elsif @result_pages.any?
      - if @view_type == "gallery"
        = render 'page_gallery', { pages: @result_pages }
      - else
        = render 'page_table', { pages: @result_pages }
- if @raw_query
  .raw-query
    .show-raw-query.js-show-raw-query= t(".show_query")
    %textarea.is-hidden.raw-query-txt.js-raw-query= @raw_query
