#trait.container
  .jumbotron
    %h1= @uri.name.titlecase
    - def_blank = @uri.definition.blank?
    %h2= @uri.uri
    %p.definition{ class: def_blank ? "empty" : nil }
      - if def_blank
        = t(:uri_definition_blank)
      - else
        = @uri.definition.html_safe
    %div{ "ng-controller" => "CladeFilterCtrl as ctrl" }
      %form{ "ng-submit" => "cladeFilter(clade_name, #{params[:id]})", name: 'traitsForm', }
        = t(:clade)
        = text_field_tag("clade", nil,
          "placeholder" => t(:clade_placeholder),
          "autocomplete" => "off",
          "ng-model" => "clade_name",
          required: true)
        .input-group-btn
          = submit_tag t("filter"), class: "btn btn-default", 'ng-disabled': 'traitsForm.$invalid'
  = render 'traits_table', { traits: @traits, glossary: @glossary, pages: @pages, resources: @resources }
