= simple_form_for(@editor_page, @editor_page_translation) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content
    = f.input :locale

  .form-actions
    = f.button :submit
