%li.trait.js-data-row{ :data => { :'show-path' => datum_path(trait[:id]) } }
  - pages = [] unless local_assigns.has_key?(:pages)
  - page_id = trait[:page_id]
  - page = page_id ? pages[page_id] : nil
  - if show_taxon && page
    .trait-thumb
      - show_data_page_icon page
  - predicate = trait[:predicate]
  .trait-source= show_source_segment(trait)

  .trait-data
    - if show_taxon && page
      = link_to(page.scientific_name.html_safe, page)
    .trait-pred= link_to(predicate[:name], term_path(:uri => predicate[:uri]))
    .trait-val= show_data_value(trait)
    - modifier_content = modifier_txt(trait)
    - if modifier_content
      .trait-mod= modifier_txt(trait)
  - if trait[:metadata] && trait[:metadata].any? 
    %ul.meta-items.js-meta-items
      - trait[:metadata].each do |datum|
        %li.meta-item
          .meta-pred
            - if datum[:predicate][:uri]
              = link_to(datum[:predicate][:name], term_path(:uri => predicate[:uri]))
            - else
              = datum[:predicate][:name]
          .meta-val= show_data_value(datum)
    %i.fa.fa-angle-up.fa-2x.meta-items-arw.js-meta-arw
  - else
    %i.fa.fa-angle-down.fa-2x.meta-items-arw.js-load-arw
