= form_for @query, :url => term_search_path, :method => :get, :class => "uk-form-stacked" do |f|
  = f.fields_for :pairs do |ff|
    .js-trait-fields{:'uk-grid' => true}
      .uk-width-1-2
        = ff.label :predicate, :class => "uk-form-label"
        .uk-form-controls
          = ff.select :predicate, @predicate_options, {}, :class => "uk-select js-pred-select"
      .uk-width-1-2
        = ff.label :object, :class=> "uk-form-label"
        .uk-form-controls
          - options = ff.object.predicate ? obj_term_options(ff.object.predicate) : []
          - disabled = options.empty?
          = ff.select :object, obj_term_options(ff.object.predicate), {}, :disabled => disabled, :class => "uk-select js-obj-select"
  = f.submit "Search", :class => "uk-button uk-button-default uk-margin-top"
