-# TODO: this is an exact duplicate of object_term_glossary, except the H1 and the glossary path. ...Generalize!
- cache("term/full_glossary/#{@page}", expires_in: 1.day) do
  - Rails.logger.warn("FULL TERM GLOSSARY REBUILT.")
  = paginate(@glossary)
  #terms_glossary{ uk: { grid: true } }
    .uk-width-1-5
      .uk-sticky.uk-sticky-fixed.uk-active{ uk: { sticky: "offset: 100" } }
        %ul.uk-nav.uk-nav-default.tm-nav{ uk: { scrollspy: { nav: "closest: li; scroll: true; offset: 100" } } }
          %li= link_to_previous_page @glossary, t("term.pagination.previous")
          %li= link_to("0-9", "#", data: { section_id: "0-9" })
          - @glossary.map { |t| t[:name][0].upcase }.uniq.each do |letter|
            %li= link_to(letter, "##{letter}")
          %li= link_to_next_page @glossary, t("term.pagination.next")
        - if is_admin?
          %button.ui.small.basic.button.uk-margin-small-top
            = link_to(t("term.actions.reindex"), terms_path(reindex: true))
    .uk-width-expand.uk-overflow-auto
      %h1= t("term.glossary.full_title")
      .uk-margin-top
        %dl.uk-description-list
          - last_head = nil
          - @glossary.each do |term|
            - this_head = term[:name][0].upcase
            - this_head = "0-9" if this_head =~ /[0-9]/
            - unless this_head == last_head
              - last_head = this_head
              %h3{ id: this_head }= this_head
            %dt.term-name= term[:name]
            %dd
              .uk-text-muted.uk-text-small= term[:uri]
              = term[:definition]
              .uk-text-muted= term[:attribution]
  = paginate(@glossary)
