.search_result_container
  .ui.inverted.dimmer
    .ui.loader
  %h2= t("search_results.section_titles.users", count: @users.total_count)
  = paginate @users, remote: true, params: { only: "users" }
  %ul.uk-list
    - @users.results.each do |user|
      %li.uk-card.uk-card-hover.eol-bright.uk-box-shadow-small
        .uk-card-body.uk-grid-small{ uk: { grid: true } }
          .eol-width-medium-icon
            -# TODO: users don't have icons yet; change this.
            = link_to(image_tag("medium/missing.png"), user)
          .uk-width-expand
            .names.username
              - name = user.try(:search_highlights).try(:[], :username) || user.username
              = link_to(name.titleize.html_safe, user, class: "primary-name")
            .names
              - if user.is_admin?
                %br/
                = t(:collection_user_is_admin)
              - if tag = user.try(:search_highlights).try(:[], :tag_line)
                %br/
                %b= t("search_results.field_matches.tag_line")
                = tag.html_safe
              - if bio = user.try(:search_highlights).try(:[], :bio)
                %br/
                %b= t("search_results.field_matches.bio")
                = bio.html_safe
  = paginate @users, remote: true, params: { only: "users" }
