#page.container
  #page_control{ ng: { controller: "ConfirmDeleteCtrl" } }
    .jumbotron
      .row
        .col-md-9
          %h1= @user.username
          - unless @user.tag_line.blank?
            %p= @user.tag_line
        - if current_user.try(:can_delete_account?, @user)
          .actions.col-md-3
            %button.btn.btn-default{'ng-click': "showConfirm($event,#{@user.id},'#{I18n.t(:are_you_sure_delete_account)}')",
              class: 'md-primary md-raised', remote: "true", authenticity_token: "true" }
              = link_to(t(:delete_account_button), user_path(current_user, method: :delete) )
    - unless @user.bio.blank?
      %h2= t("user.headers.bio")
      %p= @user.bio
    - unless @user.user_downloads.empty?
      -# - pending = Delayed::Job.where(queue: 'download').count
      %h2= t("user.headers.downloads")
      %ul.downloads
        -# TODO: expired_at and the like!
        -# TODO i18n
        - downloads = @user.user_downloads.order(created_at: :desc)
        - downloads.each_with_index do |download, index|
          -# name = term_search_name(download.options)
          - name = "Search ##{downloads.length - index}"
          %li
            - if download.completed_at.nil?
              = name
              %br
              = "enqueued - #{time_ago_in_words(download.created_at)}"
            - else
              = link_to(name, [@user, download])
              %br
              = "completed - #{time_ago_in_words(download.completed_at)}"
            - if !download.search_url.blank?
              %br
              %span query:&nbsp;
              = link_to(term_query_display_string(download.term_query), download.search_url)

    - unless @user.collections.empty?
      %p.clearfix
        %h2= t("user.headers.collections")
        %ul.collections
          - @user.collections.each do |collection|
            %li= link_to(collection.name, collection)
    - if @user.is_power_user?
      %h2= t("user.headers.links")
      %ul.links
        %li= link_to t("user.trait_bank_cypher_form"), cypher_form_path
