#page.container
  #page_control{ ng: { controller: "ConfirmDeleteCtrl" } }
    .jumbotron
      .row
        .col-md-9
          %h1= @user.username
          - unless @user.tag_line.blank?
            %p= @user.tag_line
    - if current_user == @user
      .actions.col-md-3
        = form_tag user_registration_path, method: :delete, 'data-confirm': t(:are_you_sure_delete_account) do
          = submit_tag t(:delete_account_button)
    - unless @user.bio.blank?
      %h2= t("user.headers.bio")
      %p= @user.bio
    - unless @user.user_downloads.empty?
      -# - pending = Delayed::Job.where(queue: 'download').count
      %h2= t("user.headers.downloads")
      %ul.downloads
        -# TODO: expired_at and the like!
        -# TODO i18n
        - downloads = @user.user_downloads.order(created_at: :desc)
        - downloads.each_with_index do |download, index|
          -# name = term_search_name(download.options)
          - name = "Search ##{downloads.length - index}"
          %li
            - if download.created?
              = name
              %br
              = "enqueued - #{time_ago_in_words(download.created_at)}"
            - elsif download.completed? || download.status.nil?
              = link_to(name, user_download_path(user_id: @user.id, id: download.id))
              %br
              = "completed - #{time_ago_in_words(download.completed_at)}"
            - elsif download.failed?
              - if is_admin? && download.download_error
                = link_to(name, user_download_error_path(user_id: @user.id, download_id: download.id))
              - else
                = name
              %br
              = "failed - #{time_ago_in_words(download.completed_at)}"
            - if !download.search_url.blank?
              %br
              %span query:&nbsp;
              = link_to(term_query_display_string(download.term_query), download.search_url)

    - unless @user.collections.empty?
      %p.clearfix
        %h2= t("user.headers.collections")
        %ul.collections
          - @user.collections.each do |collection|
            %li= link_to(collection.name, collection)
    - if @user == current_user && current_user.is_power_user?
      %h2= t("user.headers.links")
      %ul.links
        %li= link_to t("user.trait_bank_cypher_form"), cypher_form_path
        - if current_user.admin?
          %li= link_to t("user.list_of_power_users"), power_users_path

