#page.container
  #page_control{ ng: { controller: "ConfirmDeleteCtrl" } }
    .jumbotron
      .row
        .col-md-9
          %h1= @user.username
          - unless @user.tag_line.blank?
            %p= @user.tag_line
        - if current_user.try(:can_delete_account?, @user)
          .actions.col-md-3
            %button.btn.btn-default{'ng-click': "showConfirm($event,#{@user.id},'#{I18n.t(:are_you_sure_delete_account)}')",
              class: 'md-primary md-raised', remote: "true", authenticity_token: "true" }
              = link_to(t(:delete_account_button), user_path(current_user, method: :delete) )
    - unless @user.bio.blank?
      %h2= t(:user_bio_title)
      %p= @user.bio
    - unless @user.collections.empty?
      %p.clearfix
        %h2= t(:user_collections_header)
        %ul.collections
          - @user.collections.each do |collection|
            %li= link_to(collection.name, collection)

%div
  = render 'discourse/embed_comments'
