%h2= t(:change_your_password)
= user_form(resource: resource, url: password_path(resource_name), method: :put) do |f|
  = f.hidden_field :reset_password_token
  = f.input :password, required: true, validate: { presence: true }
  = f.input :password_confirmation, required: true, validate: { presence: true }

  .actions
    = f.button :submit, t(:change_my_password), class: "ui button"

= render "devise/shared/links"

