%h2= t(:forgot_your_password)
= user_form(resource: resource, url: password_path(resource_name), method: :post) do |f|
  = f.input :email, required: true, validate: { presence: true }
  .actions
    = f.button :submit, t(:send_me_reset_password_instructions), class: "ui button"
= render "devise/shared/links"
