%h1 Editor Pages Administration

%h3= "/"
= render "editor_page_list", editor_pages: @top_level
- @directories.each do |dir|
  %h3
    %span= "/#{dir.name}"
    = link_to edit_admin_editor_page_directory_path(dir) do 
      %span{:'uk-icon' => "icon: pencil"}
    = link_to admin_editor_page_directory_path(dir), method: :delete, data: { confirm: 'Are you sure you want to delete this directory and all of its pages?' } do
      %span{:'uk-icon' => "icon: trash"}
  = render "editor_page_list", editor_pages: dir.editor_pages, directory: dir
= link_to "New directory", new_admin_editor_page_directory_path, class: "uk-button uk-button-default uk-margin-top uk-margin-large"
      
