= simple_form_for(@editor_page) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: "uk-input" }
    <trix-editor input="editor_page_content"></trix-editor>
    = f.hidden_field :content

  .form-actions
    = f.button :submit, input_html: { class: "uk-submit" }
