%h1 Editor Pages Administration

%ul.editor-pages
  - @editor_pages.each do |editor_page|
    %li
      %div.editor-page
        %div.editor-page-name= editor_page.name
        .editor-page-actions
          = link_to 'Edit', edit_editor_page_path(editor_page), class: "uk-button uk-button-primary"
          = link_to 'Destroy', editor_page, method: :delete, data: { confirm: 'Are you sure? ' }, class: "uk-button uk-button-danger"
      %ul.editor-page-locales
        - I18n.available_locales.each do |locale|
          %li
            - translation = editor_page.translation_for_locale(locale)
            - if translation
              = link_to locale, edit_editor_page_translation_path(translation), class: "uk-button uk-button-primary"
            - else 
              = link_to locale, new_editor_page_translation_path(editor_page_id: editor_page.id, locale: locale), class: "uk-button uk-button-default"

= link_to 'New Editor page', new_editor_page_path
