%h1= t("resources.headers.import_log", resource: @resource.name)
%ul.uk-list
  %li
    %b= "Started:"
    = l(@log.created_at, format: :long)
  %li
    %b= "Completed:"
    - if @log.completed_at
      = l(@log.completed_at, format: '%H:%M:%S.%3N')
    - else
      No.
  %li
    %b= "Failed:"
    - if @log.failed_at
      = l(@log.failed_at, format: '%H:%M:%S.%3N')
    - else
      No.
  %li
    %b= "Status:"
    = @log.status || "[empty]"
%h2= "Events (most recent first):"
- unless params[:warns]
  .ui.button
    = link_to(t("resources.actions.show_warns", count: @log.import_events.warns.count), resource_import_log_path(@resource, @log, warns: true))
- else
  .ui.button
    = link_to(t("resources.actions.show_all", count: @log.import_events.count), resource_import_log_path(@resource, @log))
= paginate @events
%ul.uk-list
  - if @events.empty?
    %p= t("resources.no_events")
  - else
    - @events.each do |event|
      %li
        %b= l(event.created_at, format: '%H:%M:%S.%3N')
        (
        = event.cat
        )
        = event.body
= paginate @events
