- icon ||= page.icon
- common ||= page.name
- scientific ||= page.scientific_name
- has_query = defined?(@q) && ! @q.blank?
%li.uk-card.uk-card-hover.eol-bright.uk-box-shadow-small
  .uk-card-body.uk-grid-small{ uk: { grid: true } }
    - if icon
      .eol-width-medium-icon
        %a.uk-cover-container{ href: page_path(page), uk: { toggle: true } }
          %canvas{ width: "130", height: "130" }
          %img{ src: icon, "uk-cover": true }
    .uk-width-2-3
      .page-ancestors
        %ul.uk-breadcrumb.uk-heading-divider.eol-padding-tiny
          - ancestors = page.native_node.ancestors
          - shown_ellipsis = false
          - ancestors.each do |node|
            - unless node.has_breadcrumb?
              - unless shown_ellipsis
                &nbsp;…
                - shown_ellipsis = true
              - next
            %li= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
            - shown_ellipsis = false

      .names.d-inline
        - sci_name = has_query ? emphasize_match(scientific, @q) : scientific.html_safe
        - if common.blank?
          .uk-text-large= link_to(sci_name, page, class: "primary-name")
        - else
          .uk-text-large
            - if has_query
              = link_to(emphasize_match(common.titleize, @q), page, class: "primary-name")
            - else
              = link_to(common.titleize.html_safe, page, class: "primary-name")
          .uk-text-muted= link_to(sci_name, page, class: "secondary-name")
      - if defined?(annotation)
        = annotation
      - if defined?(media)
        %br/
        %row.icons_12_wide
          - media.each do |medium|
            - next if medium.medium_icon_url == icon
            .col-md-1
              = link_to(image_tag(medium.small_icon_url, class: "img-responsive", size: "88x88"), medium)
      - if has_query
        %ul.matches.uk-margin-top-small
          -# TODO: redo the formatting here. It was meant to join all of the names on one line; that's not working anymore.
          -# Other vernaculars that match:
          - page.vernaculars.select { |pv| pv.string.downcase != page.name.downcase && pv.string =~ /#{@q}/i }.group_by(&:string).each do |string, names|
            %li><
              = "&nbsp;".html_safe
              = emphasize_match(string, @q)
              = "&nbsp;(#{names.map { |n| n.language.code }.uniq.join(", ")})".html_safe
          -# Other scientific_names that match:
          - page.scientific_names.select { |pv| pv.canonical_form != page.scientific_name && pv.canonical_form =~ /#{@q}/i }.each do |name|
            %li= emphasize_match(name.canonical_form, @q)
          -# Resources:
          - page.resources.select { |r| r.name =~ /#{@q}/i }.uniq.each do |resource|
            %li
              = emphasize_match(resource.name, @q)
              - unless resource.name =~ /#{resource.partner.short_name}/
                = "(#{emphasize_match(resource.partner.short_name, @q)})"
      - else # (no query string)
        - if summary = construct_summary(page)
          .uk-margin-top-small
            = summary
