- content_for :content do
  - content_for :head do
    = stylesheet_link_tag "leaflet", media: "all"
    = stylesheet_link_tag "MarkerCluster", media: "all"
    = stylesheet_link_tag "MarkerCluster.Default", media: "all"
    = stylesheet_link_tag "Control.FullScreen", media: "all"
    = stylesheet_link_tag "Leaflet.NavBar", media: "all"
    = stylesheet_link_tag "Control.Loading", media: "all"

    = javascript_include_tag "leaflet"
    = javascript_include_tag "leaflet.markercluster"
    = javascript_include_tag "Control.FullScreen"
    = javascript_include_tag "Leaflet.NavBar"
    = javascript_include_tag "freezable"
    = javascript_include_tag "Control.Loading"
    = javascript_include_tag "5169"
    = javascript_include_tag "maps_leaflet"

.map-contain{ class: local_assigns.fetch(:extra_class, "") }
  #map.map{ data: { :'icon-path' => image_path("maps/pin24.png"), :'icon-retina-path' => image_path("maps/pin48.png"), :'map-data-path' => map_json_path(@page) } }
  .uk-text-meta= t("maps.occurrence_caption", page_name: @page.name)
