- content_for :content do
  - content_for :head do
    = stylesheet_link_tag "leaflet"
    = stylesheet_link_tag "MarkerCluster"
    = stylesheet_link_tag "MarkerCluster.Default"
    = stylesheet_link_tag "Control.FullScreen"
    = stylesheet_link_tag "Leaflet.NavBar"
    = stylesheet_link_tag "Control.Loading"

    = javascript_include_tag "leaflet"
    = javascript_include_tag "leaflet.markercluster"
    = javascript_include_tag "Control.FullScreen"
    = javascript_include_tag "Leaflet.NavBar"
    = javascript_include_tag "freezable"
    = javascript_include_tag "Control.Loading"
    = javascript_include_tag "5169"
    = javascript_include_tag "maps_leaflet"

#map.map{ class: (local_assigns.has_key?(:extra_class) ? extra_class : ""), data: { :'icon-path' => image_path("maps/pin24.png"), :'icon-retina-path' => image_path("maps/pin48.png"), :'map-data-path' => map_json_path(@page) } }
