- summary = @page.cached_summary

- if @page.medium
  = render :partial => "hero", :locals => { :class_name => "hero-before" }
.l-flex
  %div{ :class => (@page.medium ? "l-left-col" : "l-overview-full") }
    - if !summary.sentence.blank? || @page.has_data?
      .desc
        - if !summary.sentence.blank?
          %p= summary.sentence.html_safe
          - summary.terms.each do |term|
            = render "terms/desc_meta", term: term.obj, pred_uri: term.pred_uri, toggle: term.toggle_selector, source: term.source, search_link: true
        - if @page.has_data?
          - if @page.key_data.any?
            - attributes_key = "eol_has_data_for_n_attributes_including_html"
          - else
            - attributes_key = "eol_has_data_for_n_attributes_html"

          %p= t(".#{attributes_key}", :count => @page.predicate_count, data_path: page_data_path(@page))
    -if @page.key_data.any?
      %ul.sample-traits
        - @page.key_data.sort_by { |k, v| i18n_term_name(k) || 'zzz' }.each do |predicate, trait|
          %li
            %div
              .sample-trait-key.a= i18n_term_name(predicate)
              = render partial: "terms/desc_meta", locals: { term: predicate, search_link: true }
            %div
              - val = data_value(trait).html_safe
              - if trait[:object_page_id]
                - url = page_path(trait[:object_page_id])
                = link_to val, url, :class => "sample-trait-val"
              - elsif trait[:object_term]
                .sample-trait-val.a= val
                = render partial: "terms/desc_meta", locals: { term: trait[:object_term], search_link: true, pred_uri: trait[:predicate][:uri] }
              - else
                .sample-trait-val= val

    - if @page.occurrence_map?
      .map-contain-overview-section
        = render partial: "json_map", locals: { extra_class: "map-contain-overview" }

    - if @show_habitat_chart
      .uk-margin-top.page-habitat-chart.page-habitat-chart-left
        = render "shared/data_viz_contain", query: @habitat_chart_query, type: :bar, header: t("traits.data_viz.page_habitat_header", name: @page.name), description: t("traits.data_viz.page_habitat_explanation", name: @page.name)

    - if !@show_trophic_web
      = render('pages/children')

  - if @page.medium || @show_habitat_chart
    .l-right-col
      - if @page.medium
        = render :partial => "hero", :locals => { :class_name => "hero-after" }
      - if @show_habitat_chart
        .page-habitat-chart.page-habitat-chart-right.uk-margin-top
          = render "shared/data_viz_contain", query: @habitat_chart_query, type: :bar, header: t("traits.data_viz.page_habitat_header", name: @page.name), description: t("traits.data_viz.page_habitat_explanation", name: @page.name)
      
- if @show_trophic_web
  .l-overview-full
    = render "trophic_web", data: @trophic_web_data, translations: @trophic_web_translations, extra_class: "trophic-web-overview"
    = render('pages/children')

