- summary = construct_summary(@page)

- if @page.medium
  .hero.hero-before{ :style => "background-image: url(#{image_path @page.medium.original_size_url}" }

.l-flex
  %div{ :class => (@page.medium ? "l-left-col" : "") }
    - if !summary.blank?
      %p.desc= summary
    - if @page.data.any?
      %ul.sample-traits
        - @page.key_data.sort_by { |k, v| k[:name] || 'zzz' }.each do |predicate, trait|
          %li 
            .sample-trait-key= link_to(predicate[:name], term_path(:uri => predicate[:uri]))
            .sample-trait-val= data_value(trait)

  - if @page.medium
    .hero.hero-after{ :style => "background-image: url(#{image_path @page.medium.original_size_url}" }

-#.uk-section.uk-section-default.uk-padding-small.uk-box-shadow-medium{ uk: { grid: true } }
  #breadcrumbs.uk-section.uk-padding-remove-vertical.uk-width-1-1
    %ul.uk-breadcrumb.eol-padding-tiny
      - node = @page.native_node || @page.nodes.first
      - ancestors = node.ancestors
      - shown_ellipsis = false
      - ancestors.each do |node|
        - unless node.use_breadcrumb?
          - unless shown_ellipsis
            = link_to("…", page_breadcrumbs_path(page_id: @page.id), remote: true)
            - shown_ellipsis = true
          - next
        %li= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
        - shown_ellipsis = false
      %i.uk.icon.long.arrow.right
  .uk-grid.uk-grid-small.uk-width-1-1
    .uk-section.uk-padding-remove-vertical.uk-width-2-5
      -# Duplicating this on Seach page; generalize?  (It's also used in a Partial to render the full view!)
      .uk-section{ uk: { grid: true } }
        -# NOTE: this is largely duplicated in _overview.html.haml ; not worth extracting.
        #names.page-names.uk-width-2-3
          - if @page.name == @page.scientific_name
            - if name = @page.native_node&.scientific_names&.preferred&.first
              %h1.uk-margin-small-bottom
                = name.canonical_form.html_safe
                - unless name.authorship.blank?
                  .uk-text-small
                    - auth = name.authorship
                    - auth += ", #{name.year}" if name.year
                    = "(#{auth})"
            - else
              %h1.uk-margin-small-bottom= @page.name.html_safe
          - else
            %h1.uk-margin-small-bottom= @page.name.titlecase.html_safe
            %h3.uk-margin-remove-top.uk-text-muted= @page.scientific_name.html_safe
        .uk-width-1-3
          - basic_button("plus", t("pages.actions.collect"), new_collected_page_path(page_id: @page.id), remote: true)
          .page_topics{ data: { id: @page.id } }
          - if is_admin?
            - basic_button("refresh", t("pages.actions.reindex"), page_reindex_path(@page), remote: true, data: { disable_with: "" }, class: "ui disable-on-click")
      - summary = construct_summary(@page)
      - if summary && ! summary.blank?
        .uk-section.eol-section-aged.uk-box-shadow-medium.uk-text-lead.uk-text-center.uk-padding-small.uk-margin-small-top.uk-margin-medium-right
          = summary
      - unless @page.data.empty?
        .uk-section.uk-padding-remove-vertical.uk-margin-top.uk-text-small
          %h3.uk-heading-divider
            = t(:page_key_data_header)
          %dl.uk-description-list
            - @page.key_data.sort_by { |k, v| k[:name] || 'zzz' }.each do |predicate, trait|
              %dt.uk-margin-small-top= link_to(predicate[:name], term_path(uri: predicate[:uri]))
              %dd
                - show_data_value(trait)
    - if @page.medium
      .uk-width-3-5
        .uk-margin-remove-top.uk-text-center
          .uk-overflow-hidden.uk-box-shadow-large.eol-bordered-image
            %img.uk-animation-kenburns.uk-animation-reverse{ src: @page.medium.original_size_url }
            -# NOTE: probably worth abstracting this pattern of attribution for images, taken from
            -# app/views/media/_grid.html.haml
            - owner = @page.medium.owner.html_safe.sub(/^\(c\)\s+/i, "").sub(/^&copy;\s+/i, "").html_safe
            .uk-text-left.uk-text-small
              .ui.label= @page.medium.license.try(:name)
              %i.copyright.icon
              = "#{owner},"
              = link_to(@page.medium.resource.name, @page.medium.resource)
        .uk-float-right.uk-margin-medium-top
          .ui.label.eol-secondary.uk-box-shadow-medium.uk-margin-small-bottom
            = t("pages.iucn_status.label")
            .detail= t("pages.iucn_status.#{@page.iucn_status_key}")
          .ui.label.eol-secondary-alt.uk-box-shadow-medium.uk-margin-small-bottom
            = t("pages.rank.label")
            .detail= @page.rank ? @page.rank.name : t("ranks.not_given")
          - if @page.page_richness
            .ui.label.eol-secondary-alt.uk-box-shadow-medium.uk-margin-small-bottom
              = t("pages.richness.label")
              .detail= @page.page_richness / 100
