- summary = @page.cached_summary.html_safe

- if @page.medium
  = render :partial => "hero", :locals => { :class_name => "hero-before" }
.l-flex
  %div{ :class => (@page.medium ? "l-left-col" : "l-overview-full") }
    - if !summary.blank? || @page.has_data?
      .desc
        - if !summary.blank?
          %p= summary
        - if @page.has_data?
          %p= t(".eol_has_data_for_n_attributes_html", :count => @page.data_count, data_path: page_data_path(@page))
    -if @page.key_data.any?
      %ul.sample-traits
        - @page.key_data.sort_by { |k, v| k[:name] || 'zzz' }.each do |predicate, trait|
          %li
            %div 
              .sample-trait-key.a= predicate[:name]
              = render partial: "terms/desc_meta", locals: { term: predicate, search_link: true }
            %div
              - val = data_value(trait).html_safe
              - if trait[:object_page_id]
                - url = page_path(trait[:object_page_id])
                = link_to val, url, :class => "sample-trait-val"
              - elsif trait[:object_term]
                .sample-trait-val.a= val
                = render partial: "terms/desc_meta", locals: { term: trait[:object_term], search_link: true, pred_uri: trait[:predicate][:uri] }
              - else
                .sample-trait-val= val

    - if @page.occurrence_map?
      = render partial: "json_map", locals: { extra_class: "map-overview" }
    = render('pages/children')

  - if @page.medium
    .l-right-col
      = render :partial => "hero", :locals => { :class_name => "hero-after" }
