- summary = cached_summary(@page).html_safe

- if @page.medium
  = render :partial => "hero", :locals => { :class_name => "hero-before" }
.l-flex
  %div{ :class => (@page.medium ? "l-left-col" : "l-overview-full") }
    - if !summary.blank?
      %p.desc= summary
    - if @page.data.any?
      %ul.sample-traits
        - @page.key_data.sort_by { |k, v| k[:name] || 'zzz' }.each do |predicate, trait|
          %li
            .sample-trait-key= predicate[:name]
            - val = data_value(trait).html_safe
            - if trait[:object_term] || trait[:object_page_id]
              - if trait[:object_term]
                - url = term_path(:uri => predicate[:uri], :obj_uri => trait[:object_term][:uri])
              - else
                - url = page_path(trait[:object_page_id])
              = link_to val, url, :class => "sample-trait-val"
            - else
              .sample-trait-val= val
    - if @page.occurrence_map?
      = render partial: "json_map", locals: { extra_class: "map-overview" }
    = render('pages/children')

  - if @page.medium
    = render :partial => "hero", :locals => { :class_name => "hero-after" }
