%script{:src => "//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"}
- max_rows = 10
- traits = @page.traits
- any_collapsed = false
- row_count = 0
- any_collapsed = traits.size > max_rows + 1
%table.traits_by_page.table.table-hover.table-condensed.table-bordered.table-striped
  %tbody
    -# TODO: helper
    - @page.predicates.each do |uri|
      - predicate = @page.glossary[uri]
      - previous_predicate = nil
      - TraitBank.sort(@page.grouped_traits[uri]).each do |trait|
        - collapse = row_count > max_rows && any_collapsed
        - any_collapsed = true if collapse
        %tr{ id: trait[:id], collapse: collapse ? "traitsCollapsed" : nil, ng: { hide: collapse ? "traitsCollapsed" : nil } }
          - row_count += 1
          %th{ scope: "row" }
            - if predicate == previous_predicate
              / same predicate
            - else
              = link_to(predicate[:name], term_path(uri: predicate[:uri]))
              - previous_predicate = predicate
            %br/
            - [trait[:statistical_method], trait[:sex], trait[:lifestage]].compact.each do |type|
              %span.trait_type= "(#{type})"
          %td
            - value = t(:trait_missing, keys: trait.keys.join(", "))
            - if trait[:object_page_id]
              - target = Page.find(trait[:object_page_id])
              - if target.top_image
                %script{:id => "image#{trait[:resource_pk]}.html", :type => "text/ng-template"}
                  :cdata
                    <div><img src="#{target.icon}"/></div>
                #obj_page
                  %a{ :href => "#{trait[:object_page_id]}", "popover-trigger" => "mouseenter",  "popover-placement" => "right", "uib-popover-template" => "'image#{trait[:resource_pk]}.html'"} #{value}
              - else
                -# TODO: Gah! Fix this:
                = link_to target.name.html_safe, target
            - elsif trait[:measurement]
              - value = trait[:measurement] + " "
              - value +=  @page.glossary[trait[:units][:uri]][:name] if trait[:units]
              = value
            - elsif trait[:object_term]
              - value = @page.glossary[trait[:object_term][:uri]][:name] if trait[:object_term]
              = value
            - elsif trait[:literal]
              = trait[:literal].html_safe
            - if trait[:meta] || trait[:source] || trait[:object_term] || trait[:units]
              %br/
              %a.toggle_meta= t(:trait_toggle_details)
              - id = "hide_#{trait[:id]}".underscore.gsub(/:/, "")
              .meta_trait{ id: id }
                %table
                  - if trait[:metadata]
                    - trait[:metadata].each do |meta_trait|
                      %tr
                        %th
                          = meta_trait[:predicate][:name]
                        %td
                          - if meta_trait[:measurement]
                            = meta_trait[:measurement]
                            - if meta_trait[:units]
                              = meta_trait[:units][:name]
                            - else
                              = "OOPS:"
                              = meta_trait.inspect
                          - elsif meta_trait[:object_term]
                            = meta_trait[:object_term][:name]
                          - elsif meta_trait[:literal]
                            = meta_trait[:literal].html_safe
                  - if trait[:units] && trait[:units][:definition]
                    %tr
                      %th= t(:trait_definition, trait: trait[:units][:name])
                      %td
                        %span.uri_defn= trait[:units][:uri]
                        %br/
                        - if trait[:units][:definition].empty?
                          = t(:trait_unit_definition_blank)
                        - else
                          = trait[:units][:definition].html_safe
                  - if trait[:object_term] && trait[:object_term][:definition]
                    %tr
                      %th= t(:trait_definition, trait: trait[:object_term][:name])
                      %td
                        %span.uri_defn= trait[:object_term][:uri]
                        %br/
                        - if trait[:object_term][:definition].empty?
                          = t(:trait_unit_definition_blank)
                        - else
                          = trait[:object_term][:definition].html_safe
                  - if trait[:source]
                    %tr
                      %th= t(:trait_source)
                      %td= trait[:source].gsub(URI.regexp, '<a href="\0">\0</a>').html_safe
          -# TODO: make this a proper link
          %td.table-source
            - if resource = @resources[trait[:resource_id]]
              = link_to(resource.name, "#", title: resource.name, data: { toggle: "tooltip", placement: "left" } )
            - else
              t(:resource_missing)
- if any_collapsed
  %p
    %button.btn.btn-default{ type: "button", ng: { init: "traitsCollapsed = true", click: "traitsCollapsed = !traitsCollapsed" } }
      = t(:traits_show_more, count: row_count - max_rows)
