- max_rows = 10
- traits = @page.traits
#page_traits{ uk: { grid: true } }
  .uk-width-1-5
    #section_links.ui.small.fluid.vertical.secondary.pointing.menu
      .active.item
        -# TODO: these links should probably be "real" for those without JS.
        = link_to(t(:page_traits_toc_all_items), "#", data: { section_id: "all" })
      - @page.data_toc.each do |section|
        .item
          = link_to(t("sections.#{section.name}"), "#", data: { section_id: section.id })
      - if @page.data_toc_needs_other?
        .item
          = link_to(t(:page_traits_toc_other), "#", data: { section_id: "other" })
      .item
        = link_to(t(:page_traits_toc_type_glossary), "#", data: { section_id: "type_glossary" })
      .item
        = link_to(t(:page_traits_toc_value_glossary), "#", data: { section_id: "value_glossary" })
  .uk-width-expand.uk-overflow-auto
    %table#traits.traits_by_page.uk-table.uk-table-small.uk-table-striped.uk-table-middle.uk-table-hover.uk-text-small
      %thead
        %tr
          %th.uk-width-1-5= t("trait_table.headers.predicate")
          %th.uk-width-3-5= t("trait_table.headers.value")
          %th.uk-width-1-5= t("trait_table.headers.source")
      %tbody
        -# TODO: helper
        - @page.predicates.each do |uri|
          - predicate = @page.glossary[uri]
          - if predicate.nil?
            - Rails.logger.error("** ERROR: missing predicate #{uri}")
            - next
          - previous_predicate = nil
          - TraitBank.sort(@page.grouped_traits[uri]).each do |trait|
            -# TODO: I'm not happy with storing the ids of sections as a string in TraitBank. Should have helper. :S
            - sections = predicate[:section_ids].split(",").map { |i| "section_#{i}" }
            - sections = ["section_other"] if sections.empty?
            - sections << "toggle_meta"
            %tr{ id: trait[:id], class: sections.join(" "), data: { action: trait_path(trait[:id]) } }
              %th.uk-table-middle{ scope: "row" }
                - if predicate == previous_predicate
                  / same predicate
                - else
                  = link_to(predicate[:name], term_path(uri: predicate[:uri]))
                  - previous_predicate = predicate
                - show_trait_modifiers(trait)
              %td
                - show_trait_value(trait)
                - metadata_container(trait)
              - show_source_col(trait)
    #trait_type_glossary
      %h3= t(:traits_header_type_glossary)
      .uk-column-1-2
        %dl.uk-description-list
          -# - @page.glossary.sort_by { |p| p[1][:name] }.each do |pair|
          - @page.predicates.sort_by { |p| @page.glossary[p][:name].downcase }.each do |predicate|
            - term = @page.glossary[predicate]
            - next if term[:is_hidden_from_glossary]
            %dt= link_to(term[:name], term_path(uri: term[:uri]))
            %dd
              .uk-text-muted.uk-text-small= term[:uri]
              = term[:definition]
              .uk-text-muted= term[:attribution]
    #trait_value_glossary.uk-margin-large-top
      %h3= t(:traits_header_value_glossary)
      .uk-column-1-2
        %dl.uk-description-list
          - @page.object_terms.sort_by { |t| @page.glossary[t][:name].downcase }.each do |name|
            - term = @page.glossary[name]
            - next if term[:is_hidden_from_glossary]
            %dt= link_to(term[:name], term_path(uri: term[:uri], object: true))
            %dd
              .uk-text-muted.uk-text-small= term[:uri]
              = term[:definition]
              .uk-text-muted= term[:attribution]
