.ui.doubling.eight.column.grid.cards
  - @media.each_with_index do |image, index|
    -# TODO: we will eventually know the actual size of the image; add that:
    .ui.fluid.raised.card
      .image
        = link_to(image_tag(image.medium_icon_url, class: "pops up ui fluid image", data: { html: "#{image.name.sub(/^File:/, "").sub(/\.\w{2,4}$/, "")}<br/>#{image.owner.html_safe}<br/>#{image.license.name}" }), medium_path(image))
        -# .ui.move.right.reveal
        -#   .visible.content
        -#     = link_to(image_tag(image.medium_icon_url, class: "ui fluid image"), medium_path(image))
        -#   .hidden.content
        -#     .ui.vertical.segment
        -#       .header= link_to(image.name.sub(/^File:/, "").sub(/\.\w{2,4}$/, "").html_safe, medium_path(image))
        -#       .meta= image.owner.html_safe
        -#     .ui.vertical.segment
        -#       .ui.label= image.license.name
      .extra.content
        - unless index == 0
          = link_to("<i class='icon trophy'></i>".html_safe, page_icons_path(page_id: @page.id, medium_id: image.id), method: :post, class: "ui icon button right floated")
        %a.ui.icon.button.right.floated{ href: new_collected_page_path(page_id: @page.id, medium_ids: [image.id]) }
          %i.icon.plus

    -# - button = ""
    -# - unless index == 0
    -#   - button = "<button class='ui basic button'>#{link_to(t(:page_icon_create_button), page_icons_path(page_id: @page.id, medium_id: image.id), method: :post)}</button>"
    -# = link_to(image_tag(image.small_icon_url,
    -#   title: link_to(image.name, medium_path(image)),
    -#   alt: "<div class='media-info'>#{image.owner.html_safe} #{image.license.name}</div><div class='info-actions'>#{button}</div>".html_safe,
    -#   data: { layer: "<div class=\"galleria__credits\">#{image.owner.html_safe} #{image.license.name}</div>",
    -#   big: image.original_size_url }), image.large_size_url)
