- name = article.name.html_safe
- name = article.sections.first.name if name.blank? || name.empty?
.article.uk-card.uk-card-default.uk-margin
  .uk-card-body
    %h2.uk-card-title
      = name
      %small= t(:article_from_partner, partner: article.resource.name.html_safe)
    .uk-column-1-2
      = article.body.html_safe
    %hr
    .attributions
      %h4.panel-title= t(:content_attributions_header)
      = render("attributions/for_content", content: article)
