- max_rows = 10
- traits = @page.traits
- any_collapsed = false
- row_count = 0
- any_collapsed = traits.size > max_rows + 1
%table.traits_by_page.table.table-hover.table-condensed.table-bordered.table-striped
  %tbody
    -# TODO: helper
    - @page.predicates.each do |uri|
      - predicate = @page.glossary[uri]
      - previous_predicate = nil
      - TraitBank.sort(@page.grouped_traits[uri], @page.glossary).each do |trait|
        - collapse = row_count > max_rows && any_collapsed
        - any_collapsed = true if collapse
        %tr{ id: trait[:id], collapse: collapse ? "traitsCollapsed" : nil, ng: { hide: collapse ? "traitsCollapsed" : nil } }
          - row_count += 1
          %th{ scope: "row" }
            - if predicate == previous_predicate
              / same predicate
            - else
              = link_to(predicate[:name], term_path(uri: predicate[:uri]))
              - previous_predicate = predicate
          %td
            - value = t(:trait_missing, keys: trait.keys.join(", "))
            - if trait[:measurement]
              - value = trait[:measurement] + " "
              - value +=  @page.glossary[trait[:units][:uri]][:name] if trait[:units]
            - elsif trait[:object_term]
              - value = @page.glossary[trait[:object_term][:uri]][:name] if trait[:object_term]
            - elsif trait[:literal]
              - value =  trait[:literal].html_safe
            - if trait[:meta] || trait[:source]
              %a.toggle_meta{ href: "##{trait[:id]}", alt: t(:trait_toggle_details)}= value
              - id = "hide_#{trait[:id]}".underscore.gsub(/:/, "")
              .meta_trait{ id: id }
                %table
                  - if trait[:meta]
                    - trait[:meta].each do |meta_trait|
                      %tr
                        %th
                          = meta_trait[:predicate][:name]
                        %td
                          - if meta_trait[:measurement]
                            = meta_trait[:measurement]
                            - if meta_trait[:units]
                              = @glossary[meta_trait[:units][:uri]] ? @glossary[meta_trait[:units][:uri]][:name] : "Missing URI"
                            - else
                              = meta_trait.inspect
                          - elsif meta_trait[:object_term]
                            = @glossary[meta_trait[:object_term][:uri]][:name]
                          - elsif meta_trait[:literal]
                            = meta_trait[:literal].html_safe
                  - if trait[:units] && trait[:units][:definition]
                    %tr
                      %th= @page.glossary[trait[:units][:uri]][:name]
                      %td
                        = trait[:units][:uri]
                        %br/
                        = t(:trait_unit_definition)
                        - if trait[:units][:definition].empty?
                          = t(:trait_unit_definition_blank)
                        - else
                          = trait[:units][:definition].html_safe
                  - if trait[:source]
                    %tr
                      %th= t(:trait_source)
                      %td= trait[:source].gsub(URI.regexp, '<a href="\0">\0</a>').html_safe
            - else
              = value
          -# TODO: make this a proper link
          %td.table-source
            - if resource = @resources[trait[:resource_id]]
              = link_to(resource.name, "#", title: resource.name, data: { toggle: "tooltip", placement: "left" } )
            - else
              t(:resource_missing)
- if any_collapsed
  %p
    %button.btn.btn-default{ type: "button", ng: { init: "traitsCollapsed = true", click: "traitsCollapsed = !traitsCollapsed" } }
      = t(:traits_show_more, count: row_count - max_rows)
