.js-content
  .ui.menu.uk-text-small.js-menus.page-filters
    .ui.scrolling.dropdown.item
      - if @predicate
        %b= @predicate[:name]
      -else
        = t(".filter_by_attribute")
      %i.dropdown.icon
      .menu
        = link_to(t(".show_all"), page_data_path(@page), data: { type: 'html' }, class: "item#{ @predicate.nil? ? " active" : ""}")
        - @page.predicates.each do |uri|
          - predicate = @page.glossary[uri]
          = link_to(predicate[:name], page_data_path(page_id: @page.id, predicate: uri), data: { type: 'html' }, class: "item#{ @predicate && uri == @predicate[:uri] ? " active" : ""}")
          -#
            remote: true, data: { type: 'html' }, class: "item#{ lic == @license ? " active" : ""}")
  .l-below-filters
    - if @show_wordcloud
      .trait-wordcloud.js-trait-wordcloud{ data: { words: @wordcloud_words } }
      .uk-text-meta.uk-text-right.uk-margin-small-right= t(".wordcloud_credit_html", url: "https://mistic100.github.io/jQCloud/")
    %ul.traits
      - @predicates.each do |uri|
        - predicate = @page.glossary[uri]
        - if predicate.nil?
          - Rails.logger.error("** ERROR: missing predicate #{uri}")
          - next
        - previous_predicate = nil
        - pred_data = @page.grouped_data[uri]
        - pred_data_slice = pred_data
        - if !@predicate
          - pred_data_slice = pred_data[0, records_per_pred]
        - pred_data_slice.each do |trait|
          = render :partial => "traits/data_row", :locals => { :page => @page, :trait => trait, :show_taxon => false }
          -# Removed a bunch of old code, here. Check 5d3a7a30fdf2e2ce790faa1fd78a58e305e7afde
        - if pred_data_slice.length < pred_data.length
          %li.more-traits
            = link_to(t(".n_hidden_show_all", count: pred_data.length - pred_data_slice.length, pred_name: predicate[:name]), page_data_path(page_id: @page.id, predicate: uri))
