.js-content 
  .ui.menu.uk-text-small{ class: "js-menus" }
    .ui.scrolling.dropdown.item
      - if @predicate
        %b= @predicate[:name]
      -else
        = t(".filter_by_attribute")
      %i.dropdown.icon
      .menu
        = link_to(t(".show_all"), page_data_path(@page), remote: true, data: { type: 'html' }, class: "item#{ @predicate.nil? ? " active" : ""}")
        - @page.predicates.each do |uri|
          - predicate = @page.glossary[uri]
          = link_to(predicate[:name], page_data_path(page_id: @page.id, predicate: uri), 
            remote: true, data: { type: 'html' }, class: "item#{ @predicate && uri == @predicate[:uri] ? " active" : ""}")
          -#
            remote: true, data: { type: 'html' }, class: "item#{ lic == @license ? " active" : ""}")
  %ul.traits
    - @predicates.each do |uri|
      - predicate = @page.glossary[uri]
      - if predicate.nil?
        - Rails.logger.error("** ERROR: missing predicate #{uri}")
        - next
      - previous_predicate = nil
      - @page.grouped_data[uri].each do |trait|
        -# TODO: this partial shouldn't be in terms, it should be in traits.
        = render :partial => "terms/data_row", :locals => { :page => @page, :trait => trait, :show_taxon => false }
        -# Removed a bunch of old code, here. Check 5d3a7a30fdf2e2ce790faa1fd78a58e305e7afde
