- name = article.name&.html_safe
- name = article.sections.try(:first).try(:name) if name.blank? || name.empty?
- name ||= t("article.name.missing")
.article.uk-margin-top
  .title.uk-text-bold
    = name
    - if article.language && article.language.group.to_sym != I18n.locale
      %span.uk-text-small
        (
        = t("languages.#{article.language.group}")
        )
  .provided_by.uk-text-muted
    - if article.resource
      = t(:article_from_partner, partner: article.resource.name.html_safe)
    - else
      = t(:resource_missing)
    - if defined?(duplicate)
      ;
      = t(:article_duplicate, section: t("sections.#{article.first_section.name}"))
  .body.uk-margin-small-top
    = article.body.html_safe
  .uk-margin
    = render("attributions/for_content", content: article)
