#gallery
  -# .uk-child-width-1-4{ uk: { grid: true, height: { match: "target: > div > .uk-card" } } }
  .uk-child-width-1-6{ uk: { grid: true } }
    - @media.each_with_index do |image, index|
      - img_id = "image_modal_#{image.id}"
      - nav_id = "image_nav_#{image.id}"
      - name = image.name.sub(/^File:/, "").sub(/\.\w{3,4}$/, "").html_safe
      -# TODO: we will eventually know the actual size of the image; add that:
      -# TODO: some helpers would clean this up:
      %div
        .uk-card.uk-card-default.uk-card-small.uk-card-hover
          - link_path = medium_path(image)
          .uk-card-media-top.uk-inline-clip.uk-transition-toggle
            %a.uk-cover-container{ href: "##{img_id}", uk: { toggle: true } }
              %canvas{ width: "200", height: "200" }
              %img{ src: image.medium_icon_url, "uk-cover": true }
              %div{ id: img_id, uk: { modal: true } }
                .uk-modal-dialog
                  %a.uk-modal-close-default{ href: "", uk: { close: true } }
                  .uk-modal-header
                    = link_to(name.html_safe, link_path)
                  .uk-modal-body
                    = image_tag(image.original_size_url)

            .uk-transition-slide-bottom.uk-position-bottom.uk-overlay.uk-padding-small
              .uk-margin-remove.uk-text-small.uk-text-center
                %span.uk-label-warning.uk-padding-small.uk-padding-remove-vertical= "#{image.license.name.gsub(/\s/, "&nbsp;")}".html_safe
                %span.uk-label-success.uk-padding-small.uk-padding-remove-vertical= "trusted"
          .uk-card-footer.uk-text-small.uk-text-truncate{ uk: { toggle: "target: ##{nav_id}; mode: hover" }}
            = link_to(name, link_path)
            .uk-transition-slide-bottom.uk-position-bottom.uk-overlay
          .uk-card-footer.uk-text-small{ id: nav_id, hidden: true }
            %ul.uk-iconnav
              %li
                %a{ href: "#", uk: { icon: "icon: trophy" } }
              %li
                %a{ href: "#", uk: { icon: "icon: plus" } }
