%h3.ui.header= t(:node_hierarchies_header)
.ui.two.column.cards.grid.container
  - nodes = @nodes || @page.nodes.to_a
  - nodes = Array(nodes)
  - native_node = nodes.index { |n| n.id == @page.native_node.id }
  - nodes.insert(0, nodes.delete_at(native_node)) if nodes.include?(native_node)
  - nodes.each do |node|
    .ui.raised.card
      .ui.content
        %h3.header= node.resource.name
      .ui.content
        .ui.link.list
          -# TODO: Push the native node to the top of the list:
          - classification(node.ancestors.push(node))
      .ui.content
        %h3.ui.header= t(:node_children_header)
      .ui.content
        .ui.link.list.page-children
          - if @page.native_node.children.size > 0
            - @page.native_node.children.each do |node|
              = link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#", class: "item")
          - else
            .item= t(:node_children_empty)
