- first = names.first
- string = first.italicized
.item.js-name-card-item{ 'data-hide-on-close': hidden, class: hidden ? "uk-hidden" : "" }
  .header= string.html_safe
  .description.uk-text-meta
    - formatted_names = []
    - names.each do |name|
      - next if name.resource.nil?
      - formatted_names << page_resource_names_link(name, include_remarks)
    - if include_rank && first.node.has_rank_treat_as?
      = t(".name_recognized_by_w_rank", rank: t(".rank.#{first.node.rank_treat_as}"), by: formatted_names.to_sentence).html_safe
    - elsif include_status
      -# TODO: Update once taxonomic statuses are i18n-able
      = t(".name_recognized_by_w_status", status: first.taxonomic_status.name.capitalize, by: formatted_names.to_sentence).html_safe
    - else
      = t(".name_recognized_by", by: formatted_names.to_sentence).html_safe
  - if names.first.resource.dwh? && names.first.dh_data_set.present?
    .dh-attrib.uk-text-meta= t(".reference_taxon_attrib", dataset_name: names.first.dh_data_set.name)

