.page-names.col-md-9
  %h1= @page.name.titlecase
  %h2= @page.scientific_name.html_safe
  - trophic_strat = begin
    - @page.traits.find { |t| t[:predicate][:uri] == "http://www.wikidata.org/entity/Q1053008" }[:object_term][:name]
  - rescue => e
    -# Do nothing. This code doesn't even belong here. I'm rushing.
  -# TODO: this is all temporary! We need a real solution:
  %p
    = "The #{@page.name} is a(n) #{trophic_strat} #{ancestors[0].name} "
    - if ancestors[-2]
      = "in the #{ancestors[-2].rank.try(:name) || "clade"} #{ancestors[-2].name}."
    It lives in a variety of habitats around the world.