%body
  = render("application/navbar")
  = render("layouts/flash")
  .landing_page
    .ui.container.earth-image
      .uk-section
        .uk-padding.uk-padding-remove-vertical= image_tag("large_logo.png")
      .uk-section.uk-text-center
        %h1.uk-title= t("landing_page.header")
        #landing-search.uk-margin-large-top
          = form_tag(main_app.search_path, method: "get", autocomplete: "off") do |f|
            .ui.huge.names.search
              .ui.huge.icon.input
                = text_field_tag("q", nil, class: "prompt", size: 16, placeholder: t("landing_page.search_placeholder"))
                %i.search.icon
  .uk-container.uk-margin-top
    .uk-section.uk-margin-remove-top.eol-section-aged.uk-section-xsmall
      %p.uk-text-lead.uk-text-center= t("landing_page.beta").html_safe
    .uk-section.uk-section-small
      %ul#page_nav.uk-grid-large{ class: 'uk-child-width-1-2@s uk-child-width-1-6@m', uk: { grid: true } }
        - @stats.each do |key, value|
          %li
            - index_stat(key, value)
    .uk-section.uk-grid{ uk: { grid: true } }
      %div
        %h3= t("landing_page.topics")
        #topics
          .spin{ uk: { spinner: true } }
    - if is_admin?
      .uk-section
        .ui.basic.button
          = link_to(t("landing_page.reindex"), clear_index_stats_pages_path())
        .ui.basic.button
          = link_to(t("landing_page.cms"), "/docs/cms/pages")
        .ui.basic.button
          = link_to(t("landing_page.search_suggestions"), search_suggestions_path)
        .ui.basic.button
          = link_to(t("landing_page.resources"), resources_path)
