%body
  = render("layouts/flash")
  .landing_page
    .uk-container
      .uk-section
        = image_tag("large_logo.png")
      .uk-section.uk-section-small.uk-text-center
        %h1.uk-title= t("landing_page.header")
        #nav-search.uk-section
          = form_tag(main_app.search_path, method: "get", autocomplete: "off", class: "uk-search uk-search-default") do |f|
            = text_field_tag("q", nil, placeholder: t("landing_page.search_placeholder"), class: "uk-search-input typeahead")
            %a.uk-search-icon-flip{ uk: { search: { icon: true } } }
  .uk-container
    .uk-section
      %ul#page_nav.uk-grid.uk-child-width-expand{ uk: { grid: true } }
        - @stats.each do |key, value|
          %li
            - index_stat(key, value)
    - if is_admin?
      .uk-section
        .ui.button
          = link_to(t("landing_page.reindex"), clear_index_stats_pages_path(), remote: true)
        = link_to(t("landing_page.cms"), "/docs/cms/pages")
