#page.container{"data-turbolinks": "false"}
  #page_control{ ng: { controller: "PageCtrl as ctrl" } }
    .well
      -# NOTE: it doesn't cache this, so we store it rather than call it over
      -# and over:
      - ancestors = @page.native_node.ancestors
      .page-ancestors
        %ol.breadcrumb
          - ancestors.each do |node|
            %li.breadcrumb-item= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
      .row
        = render("title_and_summary", ancestors: ancestors)
        %p.col-md-3.actions
          = link_to t(:taxon_collect_button), new_collected_page_path(page_id: @page.id), class: "btn btn-default"
      .media
        #gallery
          %h2= t(:page_media_header, count: @page.media_count)
          = render("page_media")
      .tabs
        -# TODO: I18n. Follow the example of the details tab (below), please.
        %tabset{ justified: "true", type: "pills" }
          - if @page.traits
            %tab{ heading: t(:page_traits_header, count: @page.traits.size) }
              = render("page_traits")
          - if @page.article
            %tab{ heading: t(:page_article_header) }
              = render("page_article", article: @page.article)
          %tab{ heading: "Maps (todo)" }
          %tab{ heading: "Classification (#{@page.native_node.children.size}) (todo)" }
            %h2= t(:node_children_header)
            .page-children
              - if @page.native_node.children.size > 0
                %ol
                  - @page.native_node.children.each do |node|
                    %li.breadcrumb-item= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
              - else
                = t(:node_children_empty)
          - if @page.articles.size > 1
            %tab{ heading: t("pages.tabs.details", count: @page.articles.size) }
              - @page.articles.each do |article|
                = render("page_article", article: article)
                %hr
          %tab{ heading: "Names (todo)" }
          %tab{ heading: "References & Literature (todo)" }
          %tab{ heading: "Education (todo)" }
