%h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :username_or_email
    %br/
    = f.text_field  :username_or_email, autofocus: true
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  = recaptcha_tags(stoken: false) if  session[:login_attempts] > 0
  .actions
    = f.submit t('.sign_in', :default => "Sign in")
= render "devise/shared/links"
