%div
  %h2= t(:sign_in)
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), :validate => true,
    html: { class: "eol-userform recaptchad uk-form-stacked" },
    defaults: { input_html: { class: 'uk-input' },
    wrapper_html: { class: 'field' },
    label_html: { class: 'uk-form-label' } }) do |f|
    = f.input :email
    = f.input :password, required: true
    = f.input :remember_me, as: :boolean, checked_value: true,
      unchecked_value: false, input_html: { class: "uk-checkbox" },
      wrapper_html: { class: 'field uk-form-controls' }
    - if @verify_recaptcha
      .field
        = recaptcha_tags(callback: 'recaptchaCallback')
        - if flash.any? { |name, msg| name == "recaptcha_error" }
          %span.error
          = I18n.t(:recaptcha_error)
    .field.actions
      = f.button :submit, t("users.sign_in"), class: "uk-button uk-button-default eol-secondary-alt"
= render "devise/shared/links"

.account-migration-notice
  %h3=t("users.account_migration_header")
  %p= t("users.account_migration_notice")
