- if content.references.any?
  %div.references
    %h4.ui.header= t("content_attributions_labels.references_header", count: content.references.size)
    - if content.references.size > 1
      %ul.ui.bulleted.list
        - content.references.map(&:referent).compact.each do |reference|
          %li.item= reference.body
    - else
      %p= content.references.first.referent.body
%div{ uk: { grid: true }, class: 'uk-child-width-1-3@m uk-child-width-1-1@s' }
  %div.uk-margin-remove-top
    %dl.attributions
      %dt= t("content_attributions_labels.license")
      - if content.license.source_url
        - license_content = link_to(content.license.name.html_safe, content.license.source_url)
      - else
        - license_content = content.license.name.html_safe
      %dd= license_content
      %dt= t("content_attributions_labels.owner")
      %dd= content.owner.html_safe
      - unless content.rights_statement.blank?
        %dt= t("content_attributions_labels.rights_statement")
        %dd= content.rights_statement.html_safe
  %div.uk-margin-remove-top
    %dl.attributions
      - if content.bibliographic_citation && ! content.bibliographic_citation.body.blank?
        %dt= t("content_attributions_labels.bibliographic_citation")
        %dd= content.bibliographic_citation.body.html_safe
      - if loc = content.location
        %dt= t("content_attributions_labels.location")
        %dd
          %dl
            - unless loc.location.blank?
              %dt= t("content_attributions_labels.location_verbatim")
              %dd= loc.location
            - if loc.latitude
              %dt= t("content_attributions_labels.latitude")
              %dd= loc.latitude
            - if loc.longitude
              %dt= t("content_attributions_labels.longitude")
              %dd= loc.longitude
            - if loc.altitude
              %dt= t("content_attributions_labels.altitude")
              %dd= loc.altitude
            - unless loc.spatial_location.blank?
              %dt= t("content_attributions_labels.spatial_location")
              %dd= loc.spatial_location
      - content.attributions.each do |attribution|
        %dt= t("content_attributions_labels.#{attribution.role.name}")
        %dd= attribution.value.html_safe
  %div.uk-margin-remove-top
    %dl.attributions
      - source_page_url = content.respond_to?(:source_page_url) && content.source_page_url
      - source_url = content.respond_to?(:source_url) && content.source_url
      - if content.is_a?(Article) # Sigh... articles are backwards. We should fix that in the DB...
        - source_page_url = source_url
        - source_url = nil
      - source = source_page_url || source_url
      - if source
        %dt= t("content_attributions_labels.view_source_label")
        %dd= link_to(t("content_attributions_labels.view_source_link"), source_url) if source_url
        %dd= link_to(t("content_attributions_labels.view_source_page_link"), source_page_url) if source_page_url
      %dt= t("content_attributions_labels.resource_label")
      %dd
        - if content.resource
          = link_to(content.resource.name, content.resource.url || resource_path(content.resource))
        - else
          = t(:resource_missing)
      %dt= "ID"
      %dd.uk-text-meta.uk-overflow-hidden.uk-margin-remove-top= content.resource_pk
