.ui.list
  .item
    .content
      .header= t("content_attributions_labels.license")
      .description= content.license.name.html_safe
  .item
    .content
      .header= t("content_attributions_labels.owner")
      .description= content.owner.html_safe
  - unless content.rights_statement.blank?
    .item
      .content
        .header= t("content_attributions_labels.rights_statement")
        .description= content.rights_statement.html_safe
  - if content.bibliographic_citation && ! content.bibliographic_citation.body.blank?
    .item
      .content
        .header= t("content_attributions_labels.bibliographic_citation")
        .description= content.bibliographic_citation.body.html_safe
  - if loc = content.location
    .item
      .content
        .header= t("content_attributions_labels.location")
        .description
        %dl.ui.list
          - unless loc.location.blank?
            .item
              .content
                .header= t("content_attributions_labels.location_verbatim")
                .description= loc.location
          - if loc.latitude
            .item
              .content
                .header= t("content_attributions_labels.latitude")
                .description= loc.latitude
          - if loc.longitude
            .item
              .content
                .header= t("content_attributions_labels.longitude")
                .description= loc.longitude
          - if loc.altitude
            .item
              .content
                .header= t("content_attributions_labels.altitude")
                .description= loc.altitude
          - unless loc.spatial_location.blank?
            .item
              .content
                .header= t("content_attributions_labels.spatial_location")
                .description= loc.spatial_location
  - content.attributions.each do |attribution|
    .item
      .content
        .header= t("content_attributions_labels.#{attribution.role.name}")
        .description= attribution.value.html_safe
  - if content.source_url
    .item
      .content
        .header= t("content_attributions_labels.view_source_label")
        .description= link_to(t("content_attributions_labels.view_source_link"), content.source_url)
    .item
      .content
        .header= t("content_attributions_labels.resource_label")
        .description
          = link_to(content.resource.name, content.resource.url || resource_path(content.resource))
          %small= t("content_attributions_labels.resource_pk", key: content.resource_pk)
