%div{ uk: { grid: true } }
  .uk-width-1-3
    %dl.attributions
      %dt= t("content_attributions_labels.license")
      %dd= content.license.name.html_safe
      %dt= t("content_attributions_labels.owner")
      %dd= content.owner.html_safe
      - unless content.rights_statement.blank?
        %dt= t("content_attributions_labels.rights_statement")
        %dd= content.rights_statement.html_safe
  .uk-width-1-3
    %dl.attributions
      - if content.bibliographic_citation && ! content.bibliographic_citation.body.blank?
        %dt= t("content_attributions_labels.bibliographic_citation")
        %dd= content.bibliographic_citation.body.html_safe
      - if loc = content.location
        %dt= t("content_attributions_labels.location")
        %dd
          %dl
            - unless loc.location.blank?
              %dt= t("content_attributions_labels.location_verbatim")
              %dd= loc.location
            - if loc.latitude
              %dt= t("content_attributions_labels.latitude")
              %dd= loc.latitude
            - if loc.longitude
              %dt= t("content_attributions_labels.longitude")
              %dd= loc.longitude
            - if loc.altitude
              %dt= t("content_attributions_labels.altitude")
              %dd= loc.altitude
            - unless loc.spatial_location.blank?
              %dt= t("content_attributions_labels.spatial_location")
              %dd= loc.spatial_location
      - content.attributions.each do |attribution|
        %dt= t("content_attributions_labels.#{attribution.role.name}")
        %dd= attribution.value.html_safe
  .uk-width-1-3
    %dl.attributions
      - if content.source_page_url
        %dt= t("content_attributions_labels.view_source_label")
        %dd= link_to(t("content_attributions_labels.view_source_label"), content.source_url)
        %dd= link_to(t("content_attributions_labels.view_source_page_label"), content.source_page_url)
      %dt= t("content_attributions_labels.resource_label")
      %dd
        - if content.resource
          = link_to(content.resource.name, content.resource.url || resource_path(content.resource))
        - else
          = t(:resource_missing)
      %dt= "ID"
      %dd.uk-text-meta.uk-overflow-hidden.uk-margin-remove-top= content.resource_pk
