%h1 Publishing Dashboard


%h2 Delayed Job Log
%p Only the last 20 lines are shown.
.ui.section
  .ui.list
    - @delayed_job_log.each do |log|
      .item= log

%h2 Import Logs
- if @import_logs.size.positive?
  .ui.section
    .ui.list
      - @import_logs.each do |log|
        .item= "#{log.resource.name} (Created #{log.created_at.time_ago_in_words})"
- else
  %p There are no current import logs: they are all complete or failed.

%h2 Git Logs
.ui.section
  .ui.list
    - @git_log.each do |log|
      .item= log

%h2= "Uptime: #{@uptime}"

%h2 Most CPU-intensive processes:
.ui.section
  .ui.list
    - @top_cpu.each do |log|
      - parts = log.split(/\s+/, 11)
      .item= "#{parts[2]}% -> #{parts[-1]} (#{parts[0]}) "

%h2 Delayed Job queue:
%p= "Currently #{@queue_count} items in the queue."
- if @queue.any?
  .ui.section
    .ui.list
      - @queue.each do |job|
        - job.handler.scan(/ruby\/object:(\S+)/).each do |array|
          - klass = array.first
          - next if klass.match?(/^Active/)
          - next if klass.match?(/^Delayed/)
          - require Rails.root.join('app', 'models', "#{klass.underscore}.rb")
        - bits = []
        - h = YAML.load(job.handler)
        - if h.respond_to?(:resource_id)
          - res = Resource.find(h.resource_id)
          - bits << "[#{res.name}](https://eol.org/resources/#{res.id})"
        - if h.respond_to?(:method_name)
          - bits << ".#{h.method_name}"
        - if h.respond_to?(:id)
          - bits << "id=#{h.id}"
        - if h.respond_to?(:medium_id)
          - mid = h&.medium_id rescue nil
          - med = mid ? Medium.find(mid).source_url : 'no medium'
          - bits << "[Medium.find(#{mid})](#{med})"
        - bits << h.respond_to?(:display_name) ? h.display_name : job.handler[0..64].gsub(/\s+/, ' ')
        - bits << "RUNNING on #{job.locked_by}  <---- " || 'pending'
        .item= "job = Delayed::Job.find(#{job.id}): #{bits.join(' ')}".html_safe

%h2 Other
= link_to('check neo4j performance', 'https://rpm.newrelic.com/accounts/5035/applications/57380764/externals')
