%h1= @resource.name
.ui.button= link_to(t("resources.actions.index"), resources_path)

%p
  Nodes:
  = link_to(number_with_delimiter(@resource.nodes.count), resource_nodes_path(@resource))

- if @resource.import_logs.empty?
  This resource has not been imported yet.
- else
  %h2 Content
  .uk-section.uk-section-small
    %ul#page_nav.uk-grid-large{ class: 'uk-child-width-1-2@s uk-child-width-1-6@m', uk: { grid: true } }
      %li
        - index_stat(:nodes, @resource.nodes_count)
      %li
        - index_stat(:media, Medium.where(resource_id: @resource.id).count)
      %li
        - index_stat(:data, TraitBank.count_by_resource(@resource.id))
      %li
        - index_stat(:scientific_names, ScientificName.where(resource_id: @resource.id).count)

  %h2
    Imports:
  %ul.uk-list
    - @resource.import_logs.order('created_at DESC').each do |log|
      %li
        %b= link_to(l(log.created_at, format: :long), [@resource, log])
        - if log.completed_at
          %b= "Completed:"
          = l(log.completed_at, format: '%H:%M:%S.%3N')
        - elsif log.failed_at
          %b= "Failed:"
          = l(log.failed_at, format: '%H:%M:%S.%3N')
        %b= "Status:"
        - if log.status
          = log.status
        - else
          = "unknown"
