%h1= @resource.name

Sorry, we haven't built this page view, yet.

%h2
  Sample page

With media:
- if (contn = PageContent.where(resource_id: @resource.id).first)
  = link_to_page_by_name(contn.source_page)
- else
  (none)
%br
With synonyms:
- if (name = ScientificName.where(resource_id: @resource.id, is_preferred: false).first)
  = link_to_page_by_name(name.node.page)
- else
  (none)
%br
With vernaculars:
- if (name = Vernacular.where(resource_id: @resource.id).first)
  = link_to_page_by_name(name.node.page)
- else
  (none)
%br
With traits:
- if (page_ids = TraitBank.first_pages_for_resource(@resource.id))
  - if page_ids.empty?
    (none)
  - else
    - pages = Page.where(id: page_ids)
    - if pages.empty?
      = "It claims to have pages #{page_ids.sort.to_sentence}, but they don't appear to exist."
    - else
      = link_to_page_by_name(pages.first)
- else
  (none)

- if @resource.import_logs.empty?
  This resource has not been imported yet.
- else
  %h2
    Imports:
  %ul.uk-list
    - @resource.import_logs.order('created_at DESC').each do |log|
      %li
        %b= link_to(l(log.created_at, format: :long), [@resource, log])
        - if log.completed_at
          %b= "Completed:"
          = l(log.completed_at, format: '%H:%M:%S.%3N')
        - elsif log.failed_at
          %b= "Failed:"
          = l(log.failed_at, format: '%H:%M:%S.%3N')
        %b= "Status:"
        - if log.status
          = log.status
        - else
          = "unknown"
