= simple_form_for(@home_page_feed) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :fields, :as => :check_boxes, :collection => HomePageFeed::FIELDS, :checked => f.object.fields

  .form-actions
    = f.button :submit
