.search_result_container
  .ui.inverted.dimmer
    .ui.loader
  %h2= t("search_results.section_titles.media", count: @media.total_count)
  = paginate @media, remote: true, params: { only: "media" }
  %table.media
    %tbody
      - @media.records.each_with_index do |medium, i|
        - result = @media.results[i]
        %tr
          %td.medium-table-image
            - if medium.respond_to?(:medium_icon_url)
              = link_to(image_tag(medium.medium_icon_url), medium)
            - else
              %i.huge.ui.icon.file.text.outline
          %td
            .names
              - name = result.try(:highlight).try(:name).try(:first) || medium.name
              = link_to(name.titleize.html_safe, medium, class: "primary-name")
            .fields
              - unless @q.blank?
                %b= t("search_results.field_matches.#{medium.is_a?(Medium) ? "description" : "body"}")
              - desc = result.try(:highlight).try(:description).try(:first)
              - if desc
                = desc.html_safe
              - else
                = emphasize_match(medium.description, @q)
              - unless @q.blank?
                - if medium.resource_pk =~ /#{@q}/
                  %br/
                  %b= t("search_results.field_matches.resource_pk")
                  = emphasize_match(medium.resource_pk, @q)
              %br/
              - if @q.blank? || medium.owner !~ /^[&(©]/
                %b
                  = t("content_attributions_labels.owner")
                  \:
              = emphasize_match(medium.owner, @q)
  = paginate @media, remote: true, params: { only: "media" }
