#page.container.media
  #page_control{ ng: { controller: "PageCtrl as ctrl" } }
    .jumbotron
      .row
        .col-md-9
          %label= t(:medium_header_title)
          %h1#media_title= @medium.name.html_safe
        .col-md-3.actions
          = link_to t(:medium_collect_button), new_collected_page_path(page_id: @medium.associations.first, medium_ids: [@medium.id]), class: "btn btn-default"
    .media-body
      .row
        .media-image.col-md-8
          = image_tag(@medium.large_size_url)
          %br/
          %label= t(:medium_header_description)
          - if @medium.description.blank?
            %p.description-blank= t(:medium_description_blank)
          - else
            %p= @medium.description.html_safe
        .attribution.col-md-4
          %h2= t(:content_attributions_header)
          %ul
            %li
              = t("content_attributions_labels.license")
              = @medium.license.name.html_safe
            %li
              = t("content_attributions_labels.owner")
              = @medium.owner.html_safe.html_safe
            -# - @medium.attributions.includes(:role).each do |attribution|
            -#   = t("content_attributions_labels.#{attribution.role.name}")
            -#   = attribution.value
          %h2= t(:content_associations)
          %ul
            - @medium.associations.each do |page|
              %li= link_to(page.scientific_name.html_safe + " (#{page.name.titlecase})", page)
          - icon_count = @medium.page_icons.count
          - if icon_count > 0
            %h2= "Awards"
            %ul
              %li= "This image has been used as a page icon #{icon_count} times! (TODO I18n, but not until we decide how to show this)"

      %h2= t(:content_appears_on)
      %ul.appears_on
        - @medium.pages.each do |page|
          %li= link_to(page.scientific_name.html_safe, page)
