#page.container.media
  #page_control
    .uk-section.uk-section-default.uk-grid-small.uk-padding-small.uk-box-shadow-medium{ uk: { grid: true } }
      .uk-width-3-4
        %label= t(:medium_header_title)
        %h1#media_title.uk-margin-remove-top
          = medium_name_html(@medium)
      .uk-width-1-4.actions
        - basic_button("plus", t(:medium_collect_button), new_collected_page_path(page_id: @medium.associations.first, medium_ids: [@medium.id]))
    .media-body.uk-margin-large-top
      %div{ uk: { grid: true } }
        .media-image.uk-width-2-3
          = image_tag(@medium.large_size_url)
          %br/
          %h3= t(:medium_header_description)
          - if @medium.description.blank?
            %p.description-blank= t(:medium_description_blank)
          - else
            %p= @medium.description.html_safe
        .attribution.uk-width-1-3
          %h3= t(:content_associations)
          %ul.appears-on
            - @medium.source_pages.each do |page|
              %li= link_to_page_canonical(page)
          - icon_count = @medium.page_icons.count
          - if icon_count > 0
            %h3= t('page_icon_counts.header', count: icon_count)
            %ul
              - @medium.page_icons.includes(:page).each do |page_icon|
                %li= link_to_page_canonical(page_icon.page)
          %h3= t(:content_appears_on)
          %ul
            - @medium.page_contents.map(&:page).compact.sort_by(&:scientific_name).each do |page|
              %li= link_to_page_canonical(page)
          - collections = @medium.collections.compact.sort_by(&:name)
          - if collections.empty?
            %p= medium_not_in_collection_text(@medium)
          - else
            %h3= t(:content_collected_in)
            %ul
              - collections.each do |collection|
                %li= link_to(collection.name, collection)

      %h3= t(:content_attributions_header)
      = render("attributions/for_content", content: @medium)
