= simple_form_for(@editor_page_content, url: admin_editor_page_draft_path(editor_page_id: @editor_page.slug, editor_page_locale: @editor_page_locale)) do |f|
  .error= f.error_notification

  .form-inputs
    = f.input :title, label: "Main heading", input_html: { class: "uk-input" }
    = f.hidden_field :content, id: "content", class: 'js-contents'
    .uk-margin-top
      %trix-editor.editor-page{ input: "content" }
      - if @editor_page_content.errors.include?(:content)
        .error= @editor_page_content.errors[:content].first
    -#
      <trix-editor input="editor_page_content"></trix-editor>

  .form-actions.uk-margin-top
    = f.button :submit, "Save", class: "uk-button uk-button-primary js-save", disabled: true
.uk-margin
  - unless @editor_page_content.stub?
    = link_to admin_editor_page_preview_path(@editor_page, @editor_page_locale) do
      %button.uk-button.uk-button-primary.js-post-save-button Preview
    = render "publish_button"
    - if @editor_page.published_for_locale(@editor_page_locale)
      = link_to admin_editor_page_unpublish_path(@editor_page, @editor_page_locale), data: { confirm: "Are you sure you want to unpublish this page?" } do
        %button.uk-button.uk-button-danger Unpublish
