.footer
  %ul.footer-section.footer-section-eol-info
    %li= link_to(t("footer.eol_info.what_is_eol"), "/docs/what-is-eol")
    %li= link_to(t("footer.eol_info.whats_new"), "/docs/what-is-eol/whats-new")
    %li= link_to(t("footer.eol_info.the_eol_forum"), "http://discuss.eol.org")
    %li= link_to(t("footer.eol_info.education"), "https://education.eol.org")
    %li= link_to(t("footer.eol_info.glossary"), "/terms")
    %li= link_to(t("footer.eol_info.citing_eol"), "/docs/what-is-eol/terms-of-use/citing-eol-and-eol-content")
    %li= link_to(t("footer.eol_info.help"), "/docs/help")
    %li= link_to(t("footer.eol_info.terms_of_use"), "/docs/what-is-eol/terms-of-use")
    %li= link_to(t("footer.eol_info.contact_us"), "http://discuss.eol.org")
    %li= link_to(t('footer.eol_info.data_services'), 'https://opendata.eol.org/')
  %ul.footer-section.footer-section-discover
    %li= link_to(t("footer.discover.animals"), "/docs/discover/animals")
    %li= link_to(t("footer.discover.mammals"), "/docs/discover/mammals")
    %li= link_to(t("footer.discover.birds"), "/docs/discover/birds")
    %li= link_to(t("footer.discover.amphibians"), "/docs/discover/amphibians")
    %li= link_to(t("footer.discover.reptiles"), "/docs/discover/reptiles")
    %li= link_to(t("footer.discover.fishes"), "/docs/discover/fishes")
    %li= link_to(t("footer.discover.invertebrates"), "/docs/discover/invertebrates")
    %li= link_to(t("footer.discover.crustaceans"), "/docs/discover/crustaceans")
    %li= link_to(t("footer.discover.mollusks"), "/docs/discover/mollusks")
    %li= link_to(t("footer.discover.insects"), "/docs/discover/insects")
    %li= link_to(t("footer.discover.spiders"), "/docs/discover/spiders")
    %li= link_to(t("footer.discover.worms"), "/docs/discover/worms")
    %li= link_to(t("footer.discover.plants"), "/docs/discover/plants")
    %li= link_to(t("footer.discover.flowering_plants"), "/docs/discover/flowering-plants")
    %li= link_to(t("footer.discover.trees"), "/docs/discover/trees")
    %li= link_to(t("footer.discover.fungi"), "/docs/discover/fungi")
    %li= link_to(t("footer.discover.mushrooms"), "/docs/discover/mushrooms")
    %li= link_to(t("footer.discover.molds"), "/docs/discover/molds")
    %li= link_to(t("footer.discover.bacteria"), "/docs/discover/bacteria")
    %li= link_to(t("footer.discover.algae"), "/docs/discover/algae")
    %li= link_to(t("footer.discover.protists"), "/docs/discover/protists-or-protozoa")
    %li= link_to(t("footer.discover.archaea"), "/docs/discover/archaea")
    %li= link_to(t("footer.discover.viruses"), "/docs/discover/viruses")
