.footer
  %ul.footer-section.footer-section-eol-info
    -#
      %li= link_to(t("footer.eol_info.what_is_eol"), "/docs/what-is-eol")
    %li= link_to(t("footer.eol_info.what_is_eol"), refinery.marketable_page_path(path: "what-is-eol", locale: locale_nil_default)) 
    %li= link_to(t("footer.eol_info.whats_new"), refinery.marketable_page_path(path: "what-is-eol/whats-new", locale: locale_nil_default))
    %li= link_to(t("footer.eol_info.the_eol_forum"), "http://discuss.eol.org")
    %li= link_to(t("footer.eol_info.education"), "https://education.eol.org")
    -#
      %li= link_to(t("footer.eol_info.glossary"), "/terms")
    %li= link_to(t("footer.eol_info.citing_eol"), refinery.marketable_page_path(path: "what-is-eol/terms-of-use/citing-eol-and-eol-content", locale: locale_nil_default))
    -#
      %li= link_to(t("footer.eol_info.help"), "/docs/help")
    %li= link_to(t("footer.eol_info.terms_of_use"), refinery.marketable_page_path(path: "what-is-eol/terms-of-use", locale: locale_nil_default))
    %li= link_to(t("footer.eol_info.data_services"), refinery.marketable_page_path(path: "what-is-eol/data-services", locale: locale_nil_default))
    %li= link_to(t("footer.eol_info.donate"), refinery.marketable_page_path(path: "what-is-eol/donate", locale: locale_nil_default))
    %li= link_to(t("footer.eol_info.contact_us"), "http://discuss.eol.org/t/contact-us-at-eol/181")
  %ul.footer-section.footer-section-discover
    %li= link_to(t("footer.discover.animals"), refinery.marketable_page_path(path: "discover/animals", locale: locale_nil_default))
    %li= link_to(t("footer.discover.mammals"), refinery.marketable_page_path(path: "discover/mammals", locale: locale_nil_default))
    %li= link_to(t("footer.discover.birds"), refinery.marketable_page_path(path: "discover/birds", locale: locale_nil_default))
    %li= link_to(t("footer.discover.amphibians"), refinery.marketable_page_path(path: "discover/amphibians", locale: locale_nil_default))
    %li= link_to(t("footer.discover.reptiles"), refinery.marketable_page_path(path: "discover/reptiles", locale: locale_nil_default))
    %li= link_to(t("footer.discover.fishes"), refinery.marketable_page_path(path: "discover/fishes", locale: locale_nil_default))
    %li= link_to(t("footer.discover.invertebrates"), refinery.marketable_page_path(path: "discover/invertebrates", locale: locale_nil_default))
    %li= link_to(t("footer.discover.crustaceans"), refinery.marketable_page_path(path: "discover/crustaceans", locale: locale_nil_default))
    %li= link_to(t("footer.discover.mollusks"), refinery.marketable_page_path(path: "discover/mollusks", locale: locale_nil_default))
    %li= link_to(t("footer.discover.insects"), refinery.marketable_page_path(path: "discover/insects", locale: locale_nil_default))
    %li= link_to(t("footer.discover.spiders"), refinery.marketable_page_path(path: "discover/spiders", locale: locale_nil_default))
    %li= link_to(t("footer.discover.worms"), refinery.marketable_page_path(path: "discover/worms", locale: locale_nil_default))
    %li= link_to(t("footer.discover.plants"), refinery.marketable_page_path(path: "discover/plants", locale: locale_nil_default))
    %li= link_to(t("footer.discover.flowering_plants"), refinery.marketable_page_path(path: "discover/flowering-plants", locale: locale_nil_default))
    %li= link_to(t("footer.discover.trees"), refinery.marketable_page_path(path: "discover/trees", locale: locale_nil_default))
    %li= link_to(t("footer.discover.fungi"), refinery.marketable_page_path(path: "discover/fungi", locale: locale_nil_default))
    %li= link_to(t("footer.discover.mushrooms"), refinery.marketable_page_path(path: "discover/mushrooms", locale: locale_nil_default))
    %li= link_to(t("footer.discover.molds"), refinery.marketable_page_path(path: "discover/molds", locale: locale_nil_default))
    %li= link_to(t("footer.discover.bacteria"), refinery.marketable_page_path(path: "discover/bacteria", locale: locale_nil_default))
    %li= link_to(t("footer.discover.algae"), refinery.marketable_page_path(path: "discover/algae", locale: locale_nil_default))
    %li= link_to(t("footer.discover.protists"), refinery.marketable_page_path(path: "discover/protists-or-protozoa", locale: locale_nil_default))
    %li= link_to(t("footer.discover.archaea"), refinery.marketable_page_path(path: "discover/archaea", locale: locale_nil_default))
    %li= link_to(t("footer.discover.viruses"), refinery.marketable_page_path(path: "discover/viruses", locale: locale_nil_default))
  .footer-section.footer-section-nmnh
    = link_to "https://naturalhistory.si.edu/research/eol" do 
      .nmnh-header= t("footer.eol_is_hosted_by")
      = image_tag "nmnh_logo_bw.png", class: "nmnh-logo"

