#mobile-menu{:'uk-offcanvas' => "overlay: true"}
  .uk-offcanvas-bar.uk-width-1-1
    %ul.uk-nav
      = render "nav_links"
      %li.uk-nav-header= t("language")
      = render "locale_select_items"
    .uk-offcanvas-close{ :'uk-close' => true }
.l-nav.js-navbar
  .nav-left
    .nav-item.nav-menu-anchor{ class: "uk-hidden@s", :'uk-toggle' => "#mobile-menu" }
      %i.fa.fa-bars
      &nbsp;
      = link_to(image_tag('blue_logo.png', alt: 'EOL'), '/', class: 'nav-logo')
    .nav-item.nav-menu-anchor{ class: "uk-visible@s" }
      = link_to(image_tag('blue_logo.png', alt: 'EOL'), '/', class: 'nav-logo')
      %span &nbsp;
      %i.fa.fa-chevron-down
    %div{:'uk-dropdown' => "pos: bottom-left; offset: 0"}
      %ul.uk-nav.uk-dropdown-nav.uk-nav-primary
        = render "nav_links"
    .nav-item.nav-menu-anchor{ class: "uk-visible@s" }
      %i.fa.fa-globe
      &nbsp;
      = t("locale_codes.#{I18n.locale}")
      &nbsp;
      %i.fa.fa-chevron-down
    %div{:'uk-dropdown' => "pos: bottom-left; offset: 0"}
      %ul.uk-nav.uk-dropdown-nav
        = render "locale_select_items"
  - search = search_path rescue '/search_results'
  - search_val = nil
  - if current_page?(search)
    - search_val = @q
  = form_tag search, :method => :get, :class => 'nav-right nav-search-form' do
    = text_field_tag 'q', search_val, class: 'nav-search js-nav-search', data: { 'no-results-text': t("nav.search.no_results_html") }, autocomplete: :off
    %i.fa.fa-search.fa-lg.nav-item.nav-search-icon
