.l-nav
  .nav-left
    .nav-item.nav-menu-anchor
      = link_to(image_tag('blue_logo.png', alt: 'EOL'), '/', class: 'nav-logo')
      %span &nbsp;
      %i.fa.fa-chevron-down
      %ul.nav-menu
        %li= link_to(t("nav.about"), '/docs/about')
        %li= link_to(t("nav.education"), 'http://education.eol.org/')
        %li= link_to(t("nav.discuss"), 'http://discuss.eol.org/t/eolv3-beta-test/122')
        - if current_user
          %li= link_to(current_user.username, main_app.user_path(current_user))
          %li= link_to(t(:layout_sign_out), main_app.destroy_user_session_path)
        - else
          %li= link_to(t(:layout_sign_in), main_app.new_user_session_path)
          %li= link_to(t(:layout_sign_up), main_app.new_user_registration_path)
    -#
  - search = search_path rescue '/search_results'
  -if !current_page?(search)
    = form_tag search, :method => :get, :class => "nav-right" do
      = text_field_tag "q", nil, :class => "nav-search"
      %i.fa.fa-search.fa-lg.nav-item.nav-search-icon

