#mobile-menu{:'uk-offcanvas' => "overlay: true"}
  .uk-offcanvas-bar.uk-width-1-1
    %ul.uk-nav
      = render "nav_links"
      - if I18n.available_locales.length > 1
        %li.uk-nav-header= t("language")
        = render "locale_select_items"
      %li.uk-nav-header= t("breadcrumbs.setting_header")
      %li
        = form_tag breadcrumb_type_path, method: :post, class: "js-bread-type-toggle" do
          = select_tag "type", options_for_select([[t("breadcrumbs.types.vernacular"), "vernacular"], [t("breadcrumbs.types.scientific"), "canonical"]], breadcrumb_type)
    .uk-offcanvas-close{ :'uk-close' => true }
.l-nav.js-navbar
  .nav-left
    .nav-item.nav-menu-anchor{ class: "uk-hidden@s", :'uk-toggle' => "#mobile-menu" }
      %i.fa.fa-bars
      &nbsp;
      = link_to(image_tag('blue_logo.png', alt: 'EOL'), '/', class: 'nav-logo')
    .nav-item.nav-menu-anchor{ class: "uk-visible@s" }
      = link_to(image_tag('blue_logo.png', alt: 'EOL'), '/', class: 'nav-logo')
      %span &nbsp;
      %i.fa.fa-chevron-down
    %div{:'uk-dropdown' => "pos: bottom-left; offset: 0"}
      %ul.uk-nav.uk-dropdown-nav.uk-nav-primary
        = render "nav_links"
    - if I18n.available_locales.length > 1
      .nav-item.nav-menu-anchor{ class: "uk-visible@s" }
        %i.fa.fa-globe
        &nbsp;
        = t("locale_codes.#{I18n.locale}")
        &nbsp;
        %i.fa.fa-chevron-down
      %div{:'uk-dropdown' => "pos: bottom-left; offset: 0"}
        %ul.uk-nav.uk-dropdown-nav
          = render "locale_select_items"
    .nav-item.nav-menu-anchor{ class: "uk-visible@s" }
      %i.fa.fa-cog
      %i.fa.fa-chevron-down
    %div{:'uk-dropdown' => "pos: bottom-left; offset: 0"}
      .uk-nav.uk-dropdown-nav.uk-nav-primary
        .uk-nav-header= t("breadcrumbs.setting_header")
        = form_tag breadcrumb_type_path, method: :post, class: "js-bread-type-toggle" do
          .uk-grid-small.uk-child-width-auto.uk-grid
            %label
              = radio_button_tag "type", "vernacular", breadcrumb_type == "vernacular", class: "uk-radio"
              = t("breadcrumbs.types.vernacular")
            %label 
              = radio_button_tag "type", "canonical", breadcrumb_type == "canonical", class: "uk-radio"
              = t("breadcrumbs.types.scientific")
  - search = search_path rescue '/search_results'
  - search_val = nil
  - if current_page?(search)
    - search_val = @q
  = form_tag search, :method => :get, :class => 'nav-right nav-search-form' do
    = text_field_tag 'q', search_val, class: 'nav-search js-nav-search', data: { 'no-results-text': t("nav.search.no_results_html") }, autocomplete: :off
    %i.fa.fa-search.fa-lg.nav-item.nav-search-icon
