%li= link_to(t("nav.about"), refinery.marketable_page_path(path: 'what-is-eol', locale: locale_nil_default))
%li= link_to(t("nav.education"), 'http://education.eol.org')
%li= link_to(t("nav.discuss"), 'http://discuss.eol.org')
%li= link_to(t("nav.trait_bank"), main_app.about_trait_bank_path)
- if current_user
  %li= link_to(current_user.username, main_app.user_path(current_user))
  %li= link_to(t(:layout_sign_out), main_app.destroy_user_session_path)
- else
  %li= link_to(t(:layout_sign_in), main_app.new_user_session_path)
  %li= link_to(t(:layout_sign_up), main_app.new_user_registration_path)
