%h1 Listing editor_page_contents

%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @editor_page_contents.each do |editor_page_content|
      %tr
        %td= editor_page_content.title
        %td= editor_page_content.content
        %td= link_to 'Show', editor_page_content
        %td= link_to 'Edit', edit_editor_page_content_path(editor_page_content)
        %td= link_to 'Destroy', editor_page_content, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Editor page content', new_editor_page_content_path
