%p#notice= notice

%p
  %b Title:
  = @editor_page_content.title
%p
  %b Content:
  = @editor_page_content.content

= link_to 'Edit', edit_editor_page_content_path(@editor_page_content)
\|
= link_to 'Back', editor_page_contents_path
