- page = collected_page.page
%li.uk-card.uk-card-hover.eol-bright.uk-box-shadow-small
  .uk-card-body.uk-grid-small{ uk: { grid: true } }
    - if icon = collected_page.media.try(:first).try(:icon) || page.icon
      .eol-width-medium-icon
        %a{ href: page_path(page) }
          = image_tag(icon, class: "ui small image fluid")
    .uk-width-expand
      .page-ancestors
        %ul.uk-breadcrumb.eol-padding-tiny
          - ancestors = page.native_node.try(:ancestors)
          - if ancestors
            - shown_ellipsis = false
            - ancestors.compact.each do |node|
              - unless node.has_breadcrumb?
                - unless shown_ellipsis
                  &nbsp;…
                  - shown_ellipsis = true
                - next
              %li= link_to(node.canonical_form.html_safe, node.page_id ? page_path(node.page_id) : "#")
              - shown_ellipsis = false
          - else
            = t("pages.native_node_missing_warning")
      .names.d-inline
        - common = collected_page.name.titleize.html_safe
        - scientific = collected_page.scientific_name_string.html_safe
        - if common.blank?
          .uk-text-large= link_to(scientific, page, class: "primary-name")
        - else
          .uk-text-large= link_to(common, page, class: "primary-name")
          .uk-text-muted= link_to(scientific, page, class: "secondary-name")
        - if form.object_name == "collected_page"
          .d-inline
            = label_tag(:annotation, nil)
            %br/
            = form.text_area(:annotation, cols: "80", rows: "6")
        - else
          = form.fields_for(:collected_pages, collected_page) do |cp_f|
            .d-inline
              = label_tag(:annotation, nil)
              %br/
              = cp_f.text_area(:annotation, cols: "80", rows: "6")
        - unless collected_page.media.empty?
          = t(:collection_collected_pages_media_remove)
          %br/
          %ul.uk-grid-small{ uk: { grid: true }, class: "uk-child-width-1-2 uk-child-width-1-6@m" }
            - collected_page.collected_pages_media.each do |cpm|
              - next unless cpm.medium
              %div{ id: "cpm--#{collected_page.id}--#{cpm.medium.id}" }
                = link_to("<i class='ui icon window close'></i>".html_safe, destroy_collected_pages_medium_path(collected_page_id: collected_page.id, medium_id: cpm.medium.id), method: "post", remote: true, data: { confirm: t("collected_pages.delete_confirm") })
                = image_tag(cpm.medium.small_icon_url, class: "img-responsive", size: "88x88")
      .uk-width-small.actions
        = form.submit(class: "ui button")
        = link_to t(:cancel), collected_page_path(collected_page), remote: true, class: "ui basic button"
