!!!
%html
  %head
    = csrf_meta_tags
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title
      - if defined?(@page_title)
        = @page_title
        \-
      = t(:page_title)
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.13/css/uikit.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/button.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/icon.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/label.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/menu.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/statistic.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/sticky.min.css"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.13/js/uikit.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.13/js/uikit-icons.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/sticky.min.js"
    = csrf_meta_tags
    = yield :head
  %body{ style: "background-color: snow;" }
    = render("navbar")
    .uk-container
      .uk-grid-medium{ uk: { grid: true } }
        #main.uk-width-4-5.column
          - unless flash.empty?
            - flash.each do |name, msg|
              .alert.alert-danger.alert-dismissible.fade.in{ role: "alert" }
                %button.close{ type: "button", data: { dismiss: "alert" }, aria: { label: "Close" } }
                  %span{ aria: { hidden: "true" } }
                    &times;
                - next if name ==  :recaptcha_error.to_s
                - if msg.class == Array
                  - msg.each do |message|
                    = content_tag :p, message.html_safe, :id => "flash_#{name}"
                - else
                  = content_tag :p, msg.html_safe, :id => "flash_#{name}"
          = content_for?(:content) ? yield(:content) : yield
        #sidebar.uk-width-1-5.column
          .uk-container.text.uk-margin-large-top
            %ul.uk-list.uk-flex.uk-flex-column
              %li.uk-card.uk-card-primary.uk-card-hover.uk-text-center.uk-padding
                Go visit this collection.
              %li.uk-card.uk-card-secondary.uk-card-hover.uk-text-center.uk-padding
                Or check out some educational site.
              %li.uk-card.uk-card-primary.uk-card-hover.uk-text-center.uk-padding
                Perhaps you would like to see some endangered species.
              %li.uk-card.uk-card-secondary.uk-card-hover.uk-text-center.uk-padding
                But then again, maybe you just want to look at pretty blue things.
