!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title EolWebsite
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag 'main_en'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"
    = csrf_meta_tags
  %body

    .header
      .search
        %div{ "ng-controller" => "DemoCtrl as ctrl", :layout => :column }
          %md-content.md-padding
            = form_tag(search_path, method: "get") do
              %md-autocomplete{ "ng-disabled" => "ctrl.isDisabled",
                "md-no-cache" => "ctrl.noCache",
                "md-selected-item" => "ctrl.selectedItem",
                "md-search-text-change" => "ctrl.searchTextChange(ctrl.searchText)",
                "md-search-text" => "ctrl.searchText",
                "md-selected-item-change" => "ctrl.selectedItemChange(item)",
                "md-items" => "item in ctrl.querySearch(ctrl.searchText)",
                "md-item-text" => "item.display",
                "md-min-length" => "0",
                "placeholder" => "What is your favorite US state?" }
                %md-item-template
                  %span{ "md-highlight-text" => "ctrl.searchText",
                    "md-highlight-flags" => "^i"}
                    {{item.display}}
                %md-not-found
                  No pages matching "{{ctrl.searchText}}" were found.

        -# https://material.angularjs.org/latest/demo/autocomplete
        -# <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
        -#   <md-content class="md-padding">
        -#     <form ng-submit="$event.preventDefault()">
        -#       <md-autocomplete
        -#           ng-disabled="ctrl.isDisabled"
        -#           md-no-cache="ctrl.noCache"
        -#           md-selected-item="ctrl.selectedItem"
        -#           md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        -#           md-search-text="ctrl.searchText"
        -#           md-selected-item-change="ctrl.selectedItemChange(item)"
        -#           md-items="item in ctrl.querySearch(ctrl.searchText)"
        -#           md-item-text="item.display"
        -#           md-min-length="0"
        -#           placeholder="What is your favorite US state?">
        -#         <md-item-template>
        -#           <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>



        = form_tag(search_path, method: "get") do
          = text_field_tag(:q, "", placeholder: "Search...")
          = submit_tag "Go"
    - flash.each do |name, msg|
      - next if name ==  :recaptcha_error.to_s
      - if msg.class == Array
        - msg.each do |message|
          = content_tag :p, message, :id => "flash_#{name}"
      - else
        = content_tag :p, msg, :id => "flash_#{name}"
    = yield
