- content_for :body  do
  %body
    = render("application/navbar")
    = image_tag "print_logo", class: "print-logo"
    - if main_container?
      .uk-container
        #main
          = render("layouts/flash")
          .uk-section.uk-padding-remove-bottom
            = content_for?(:content) ? yield(:content) : yield
    - else
      .l-basic-main
        = render("layouts/flash")
        - maint_message = "EOL will be down periodically for server relocation from Friday Aug 22 5:00 ET through Sunday Aug 24 08:00."
        %p.eol-flash{data: { text: maint_message }, hidden: true }
          = maint_message
        = content_for?(:content) ? yield(:content) : yield
    = render("application/footer")
= render template: "layouts/head_only"
