!!!
%html
  %head
    = csrf_meta_tags
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title
      - if defined?(@page_title)
        = strip_tags(sanitize(@page_title))
        \-
      = t(:page_title)
    -# TODO: we need to compile our own set of includes with only the bits we need.
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/css/uikit.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/button.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/dimmer.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/icon.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/label.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/loader.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/menu.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/dropdown.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/statistic.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/sticky.min.css"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/transition.min.css"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/js/uikit.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.21/js/uikit-icons.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/sticky.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/dimmer.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/dropdown.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/transition.min.js"
    = javascript_include_tag "http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield :head
  = content_for?(:body) ? yield(:body) : yield
