!!!
%html{ lang: I18n.locale }
  %head
    = csrf_meta_tags
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title
      - if defined?(@page_title)
        = strip_tags(sanitize(@page_title))
        \-
      = t(:page_title)
    - cdn = 'https://cdnjs.cloudflare.com/ajax/libs'
    -# TODO: we need to compile our own set of includes with only the bits we need for UIKit (as we did with semantic)!
    -#
      = stylesheet_link_tag "#{cdn}/uikit/3.1.6/css/uikit.min.css", media: :all
    - %w[button dimmer header icon image input label loader list menu dropdown search segment statistic sticky transition].each do |name|
      = stylesheet_link_tag "#{cdn}/semantic-ui/2.3.3/components/#{name}.min.css", media: :all
      = stylesheet_link_tag "#{cdn}/font-awesome/4.7.0/css/font-awesome.min.css", media: :all
    -#= stylesheet_link_tag "application", media: :all
    -#-if asset_exists? "#{params[:controller]}.css"
    -#  = stylesheet_link_tag params[:controller], media: :all
    = stylesheet_pack_tag "application", media: :all
    -if Webpacker.manifest.lookup "#{params[:controller]}.css"
      = stylesheet_pack_tag params[:controller], media: :all
    = stylesheet_link_tag "jqcloud", media: :all
    = javascript_include_tag "https://d3js.org/d3.v4.min.js"
    = javascript_include_tag "https://d3js.org/d3-scale-chromatic.v1.min.js"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"
    = javascript_include_tag "application"
    -if asset_exists? "#{params[:controller]}.js"
      = javascript_include_tag params[:controller]
    = javascript_include_tag "#{cdn}/uikit/3.1.6/js/uikit.min.js"
    = javascript_include_tag "#{cdn}/uikit/3.1.6/js/uikit-icons.min.js"
    - %w[api search sticky dimmer dropdown transition].each do |name|
      = javascript_include_tag "#{cdn}/semantic-ui/2.3.1/components/#{name}.min.js"
    - if Rails.env.staging? || Rails.env.production?
      = javascript_include_tag "https://edge.quantserve.com/quant.js"
      = javascript_include_tag "https://www.google-analytics.com/ga.js"
      %script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=UA-3298646-16"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-3298646-10');
      /
        START OF SmartSource Data Collector TAG v10.4.23
        Copyright (c) 2018 Webtrends Inc.  All rights reserved.
      :javascript
        window.webtrendsAsyncInit=function(){
            var dcs=new Webtrends.dcs().init({
                dcsid:"dcsg0chobadzpxfga2extd7pb_7c2s",
                domain:"logs1.smithsonian.museum",
                timezone:-5,
                i18n:true,
                fpcdom:".eol.org",
                plugins:{
                }
                }).track();
        };
        (function(){
            var s=document.createElement("script"); s.async=true; s.src="#{asset_path('webtrends.min.js')}";
            var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);
        }());
      %noscript
        %img{ alt: "dcsimg", id: "dcsimg", width: "1", height: "1", src: "//logs1.smithsonian.museum/dcsg0chobadzpxfga2extd7pb_7c2s/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.23&amp;dcssip=www.eol.org" }
      /
        END OF SmartSource Data Collector TAG v10.4.23

    = csrf_meta_tags
    - if content_for?(:head)
      = yield :head
  = content_for?(:body) ? yield(:body) : yield
