!!!
%html
  %head
    = csrf_meta_tags
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}/
    %title
      - if defined?(@page_title)
        = strip_tags(sanitize(@page_title))
        \-
      = t(:page_title)
    - cdn = 'https://cdnjs.cloudflare.com/ajax/libs'
    -# TODO: we need to compile our own set of includes with only the bits we need for UIKit (as we did with semantic)!
    = stylesheet_link_tag "#{cdn}/uikit/3.0.0-beta.25/css/uikit.min.css"
    - %w[button dimmer header icon image input label loader list menu dropdown search segment statistic sticky transition].each do |name|
      = stylesheet_link_tag "#{cdn}/semantic-ui/2.3.3/components/#{name}.min.css"
    = stylesheet_link_tag "application"
    -if asset_exists? "#{params[:controller]}.css"
      = stylesheet_link_tag params[:controller]
    = javascript_include_tag "application"
    -if asset_exists? "#{params[:controller]}.js"
      = javascript_include_tag params[:controller]
    = javascript_include_tag "#{cdn}/uikit/3.0.0-beta.25/js/uikit.min.js"
    = javascript_include_tag "#{cdn}/uikit/3.0.0-beta.25/js/uikit-icons.min.js"
    - %w[api search sticky dimmer dropdown transition].each do |name|
      = javascript_include_tag "#{cdn}/semantic-ui/2.3.1/components/#{name}.min.js"
    = javascript_include_tag "https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"
    = javascript_include_tag "http://edge.quantserve.com/quant.js"
    = javascript_include_tag "http://www.google-analytics.com/ga.js"
    = csrf_meta_tags
    - if content_for?(:head)
      = yield :head
  = content_for?(:body) ? yield(:body) : yield
